[2016-05-25 20:59] cdancy opened #1 "Implement ProjectApi"
Implement ProjectApi so that we can create projects ad-hoc. This functionality is needed for creating a better test suite.

[2016-05-25 21:00] cdancy opened #2 "Implement RepoApi"
Implement RepoApi to create repositories ad-hoc to flesh out testing suite.

[2016-05-25 21:01] cdancy opened #3 "Add 'decline' and 'merge' endpoints for PullRequestApi"
Both are needed to roudout the basic features necessary for having the PullRequestApi.

[2016-06-19 04:42] cdancy commented on #3
Resolved as part of commit: https://github.com/cdancy/bitbucket-rest/commit/6abf1c2d291ef0e4093d57affbe33099dd9be668

[2016-06-19 04:42] #3 closed

[2016-06-21 02:31] cdancy opened #4 "Generate git repo contents dynamically"
We need a way to create a project, then create a repo, then checkout that bare repo, add a file, then push back to bitbucket. Should probably create a branch as well with a separate file for testing.

[2016-06-22 03:34] cdancy commented on #2
Done as part of 0.0.2 release.

[2016-06-22 03:34] #2 closed

[2016-06-22 03:34] cdancy commented on #1
Done as part of 0.0.2 release.

[2016-06-22 03:34] #1 closed

[2016-06-23 21:18] cdancy opened #5 "Add checkstyle plugin to build"
Checkstyle needs to be enforced to ensure we have a sane coding style throughout the project.

[2016-06-23 21:19] cdancy opened #6 "Add BranchApi"
Add BranchApi and cover, at the least, the following endpoints: create, getDefault, and updateDefault.

[2016-06-23 21:20] cdancy opened #7 "Add TagApi"
Add TagApi and provide, at the least, the following endpoints: create and get.

[2016-06-24 01:25] cdancy commented on #7
Merged with commit https://github.com/cdancy/bitbucket-rest/commit/055397b3b46779354b9d8b26fac314d28e905dd5

[2016-06-24 01:25] #7 closed

[2016-06-24 01:25] cdancy commented on #6
Merged with commit https://github.com/cdancy/bitbucket-rest/commit/cd70952f4a83f910b25e56da0e8cc4befb9283e8

[2016-06-24 01:25] #6 closed

[2016-06-24 01:26] cdancy commented on #5
Merged with commit https://github.com/cdancy/bitbucket-rest/commit/6b1fcf842bb87a2053b6d97ea81bc7aaf98c1317 and https://github.com/cdancy/bitbucket-rest/commit/74f506868457a5017f3735a3126bbea55eeb21fa

[2016-06-24 01:26] #5 closed

[2016-07-26 12:59] cdancy commented on #4
Something like a shell script, to init the above, should suffice.

[2016-07-26 13:00] cdancy opened #9 "Document how to setup a dev environment for testing purposes."

[2016-07-27 08:19] tomasbjerre opened #11 "Pullrequest comments"
I need POST and GET and for individual comments I need DELETE.

I can work on this one.

[2016-07-27 14:05] cdancy commented on #11
@tomasbjerre thanks! I was actually going to tackle this next as I have need to post comments. Ping me if you have any questions about how to do so. This library is modeled around a typical jclouds project so if you don't have any experience/knowledge coding for such a thing it can be a bit daunting until you get used to how everything is wired together.

[2016-07-27 18:38] tomasbjerre commented on #11
I started fiddling with this a bit. How do you run the test cases? I do ***gradlew build*** and I get zero tests run. According to test report in ***/build/reports/tests/index.html***.

[2016-07-27 19:11] cdancy commented on #11
There are 2 types of tests/tasks: Mock (`mockTest`) and Integration (`integTest`). The former is to model the interaction and ensure the library works as expected while the latter ensures the interaction with bitbucket works as expected. To run either from the command line: `./gradlew mockTest` or `./gradlew integTest` which depends on mock tests running successfully.

It should be noted that for

[2016-08-31 19:45] cdancy commented on #11
Closing issue as the `CommentsApi` has been implemented with PR's #17 and #16. Endpoints `comment`, `createComment`, `get`, and `delete` have all been coded. Functionality can be found in version `0.0.10` of this library.

[2016-08-31 19:45] #11 closed

[2016-12-10 02:37] cdancy opened #23 "Create a proper Builder to init client"

[2016-12-11 04:14] #23 closed

[2016-12-28 21:23] cdancy opened #28 "PullRequestApi: changes and commits endpoints should be modeled after new "page" design."

[2016-12-28 21:23] cdancy opened #29 "CommentsApi: implement proper page support"

[2016-12-28 21:23] cdancy opened #30 "TagApi: implement proper page support"

[2016-12-29 18:29] cdancy opened #31 "PullRequestApi: bug introduced with LinksHolder when creating PullRequest object"

[2016-12-29 18:42] cdancy commented on #28
Functionality is now merged.

[2017-01-03 14:18] #31 closed

[2017-01-31 21:02] cdancy opened #34 "PullRequestApi: implement proper page support"

[2017-01-31 21:03] cdancy opened #35 "BranchApi: implement proper page support"

[2017-01-31 21:03] cdancy opened #36 "CommitsApi: implement proper page support"

[2017-01-31 21:16] cdancy commented on #35
Merged with https://github.com/cdancy/bitbucket-rest/commit/2c642c0736768649bd7fb0b6ed1f93b02d6d8f22

[2017-01-31 21:16] #35 closed

[2017-02-01 02:26] cdancy opened #37 "CommitsApi: get generic commit from repo"

[2017-02-01 02:27] cdancy commented on #37
Merged with https://github.com/cdancy/bitbucket-rest/commit/5aca03d23521bf307973a3170f0760ce0d143f95

[2017-02-01 02:27] #37 closed

[2017-02-01 07:43] tomasbjerre opened #38 "Support new comments API: CommentThread"
Bitbucket Server deprecated the comments API and will introduce CommentThread in version 5.

https://developer.atlassian.com/bitbucket/server/docs/latest/reference/api-changelog.html#Bitbucket_Server_4.13

I have not been able to find any documentation on the REST api for 5.0.

[2017-02-01 13:09] cdancy commented on #38
@tomasbjerre good catch! Yeah doing a simple search I was not able to find anything other than what you posted. I'll keep this issue open to remind myself to poke around more.

[2017-02-03 00:33] fenoloco opened #39 "How can I list all the Pull Request of a specific project"
Hi,
I was trying to build a tool to help me to detect open pull request and automatically advise each of the repository leads.

I reviewed the API and the code and I could find that implementation, can you guide me to the solution?

[2017-02-03 02:00] cdancy commented on #39
@fenoloco currently there is no way through the API to search for PullRequests and sort based on say project name. What you can do is used the [PullRequests endpoint](https://developer.atlassian.com/static/rest/bitbucket-server/latest/bitbucket-rest.html#idm45295356811808), which is paged, and collect all available PullRequests and then search through them and sort them on your end.

This endpoint

[2017-02-03 02:19] cdancy commented on #39
Sorry I was drawing a blank above and thought you were referring to "branch" instead of "project". Yes this is possible and is what I noted above that needs to be coded. Let me know and I will wire this up before my next release this weekend.

[2017-02-03 02:56] cdancy commented on #34
Merged with https://github.com/cdancy/bitbucket-rest/commit/0474f58a1deceb0d1d6898487ef39561f2be7d17

[2017-02-03 02:56] #34 closed

[2017-02-03 03:03] cdancy commented on #39
Code has been merged to master to list all PullRequests from a given project and repo. I assume you mean this as PullRequests are not tied to a given project but to a repo under that project. As I said I will be publishing a new release this weekend. Let me know if the below snippet makes sense.

[code]

If you actually needed to iterate over some projects, and all their repos, you could do so but

[2017-02-03 11:52] fenoloco commented on #39
Thanks for the response, code snipped looks good and will be useful for me.
Thanks in advance, Are snapshot on Jcenter?

[2017-02-04 20:23] cdancy commented on #39
@fenoloco closing issue as new release `0.0.14` is out. Let me know how things work out for you.

[2017-02-04 20:23] #39 closed

[2017-02-05 10:42] cdancy opened #40 "Implement Documentation annotation"
Annotation that gives potential list of links to further documentation.

[2017-02-05 10:52] cdancy commented on #40
Merged with https://github.com/cdancy/bitbucket-rest/commit/e4d3ef352321950ba36bde9ff70c24cae1b39b7d

[2017-02-05 10:52] #40 closed

[2017-02-05 17:43] cdancy opened #41 "Add PMD support"

[2017-02-11 18:22] fenoloco commented on #39
Sorry for the delay, works like a charm.
I think version is 0.0.13 and not 0.0.14
Thanks!

[2017-03-07 07:33] tomasbjerre commented on #38
Little status update here.

I have access to the Early Access Program now. I did not notice any new endpoints about comments so I asked the support. They replied:
[code]

I'll try to find some time to test this soon.

[2017-03-17 13:43] cdancy opened #54 "Make use of jclouds "request options" builder instead of using N number of QueryParams"
Should be done across the board and will be required for 1.0 release.

[2017-03-20 15:43] cdancy opened #56 "Stash (and maybe Bitbucket) canMerge is false though no merge conflicts"
Tagging a few committers who may have seen this before: @tomasbjerre @j0nathan33 @Gawen-pjr @petehayes

Hey Guys,

We've got an issue using Stash (last version made available) where when we hit the [merge](https://developer.atlassian.com/static/rest/bitbucket-server/latest/bitbucket-rest.html#idm45770029274656) endpoint we get a `canMerge = false` with no vetoes or exceptions returned back. Furthe

[2017-03-21 14:54] j0nathan33 commented on #56
For us, we use bitbucket 4.12 and I don't see your error. Each time I send request to api, I receive all vetoes if branch can't merge.

[2017-03-21 15:04] cdancy commented on #56
@j0nathan33 current speculation is that the size of our branch, and the number of open PullRequests, is playing into our problem. Because we have a multi-gigabyte repo, with say on average 30 open PullRequests, each call to the `merge` endpoint (which we poll through our testing process) we think might be bringing the instance to its knees. Just not entirely sure what goes on behind the scenes whe

[2017-04-25 01:27] #56 closed

[2017-05-06 19:25] tomasbjerre commented on #38
https://confluence.atlassian.com/bitbucketserver/bitbucket-server-5-0-release-notes-889528342.html

[2017-05-26 20:57] vasilievip opened #71 "Add "metadata" to bucket model for handling additional info when querying branches"
If you provide details=true when you hit following link:
http://<bitbucket>/rest/api/1.0/projects/<project>/repos/<repo>/branches?details=true

branch information has additional details under "metadata" key, it would be great to access it in java

[2017-05-26 22:53] cdancy commented on #71
@vasilievip looking at their[ REST API I see that the details](https://developer.atlassian.com/static/rest/bitbucket-server/4.2.1/bitbucket-rest.html#idp2897856) flag brings in additional info about `plugin-provided metadata about each branch`. Is that what you're looking for? Care to put together a PullRequest or were you looking for one of us to do so? Let me know. Thanks.

[2017-05-27 01:21] cdancy commented on #71
@vasilievip jumped the gun a bit, looks like you were looking to add this to `branchModel` endpoint. Do you have a link to the documentation somewhere? Can't seem to find it at the moment...

[2017-05-27 06:01] vasilievip commented on #71
I can't find  link to documentation, but I can give you example which I see when I hit endpoint.
(i'll try to come up with pull request a bit later). What I see in metadata is very custom items produced by plugins, I guess handling it as a String or even Map datatype would be OK.
[code]

[2017-05-27 08:51] vasilievip commented on #71
https://github.com/cdancy/bitbucket-rest/pull/72

[2017-05-27 11:52] vasilievip opened #73 "maven published artifacts have pom.xml depencies marked with `runtime` scope instead of `compile`"
https://dl.bintray.com/cdancy/java-libraries/com/cdancy/bitbucket-rest/0.0.15/:bitbucket-rest-0.0.15.pom

[code]

Related issue https://github.com/Netflix/Hystrix/pull/944/files

[2017-05-27 12:31] cdancy opened #74 "Upgrade to gradle 3.5"

[2017-05-27 12:36] cdancy commented on #73
@vasilievip this is interesting. I would expect then for all the use-cases we have here for this to pop seeing as how we are not defining these additional dependencies at runtime. Now I'm not entirely sure how things are working. Perhaps this is a maven only issue? We use gradle across the board here and have never had any issues. I've also never heard from anyone using this library that it's a pr

[2017-05-27 12:37] cdancy commented on #74
Resolved as per #75

[2017-05-27 12:37] #74 closed

[2017-05-27 13:00] vasilievip commented on #73
Nope. To be honest - I don't really like gradle, I'm using maven and do not want to mess with "copy-paste from stackoverflow" style of fixing build issues :).
 I reported issue for you to be aware of...

They just adding deps w/o transitive dependencies resolution

[2017-05-27 13:07] cdancy commented on #73
Haven't drunk the kool-aid yet? ;) I was in your boat for a while until I finally saw the light, and lots of magic, of gradle especially coming from the rigid world of maven (though at times I do miss the rigidity of maven as it kept things simple at the sacrifice of functionality).

Let me see what I can whip together.

[2017-05-27 13:25] #73 closed

[2017-05-27 16:06] cdancy commented on #71
Issue is resolved per PR #80

[2017-05-27 16:06] #71 closed

[2017-06-06 12:53] j0nathan33 opened #89 "Integration Test does not working any more with last change on master"
I run this command in my IDE : "gradlew integTest". After that, I check in the report and I have this error :

[2017-06-06 13:02] cdancy commented on #89
Fix has been merged.

[2017-06-06 13:02] #89 closed

[2017-06-06 14:38] #36 closed

[2017-06-06 18:54] #4 closed

[2017-06-06 18:58] cdancy commented on #9
These can now be run OOTB.

[2017-06-06 18:58] #9 closed

[2017-06-07 17:47] j0nathan33 opened #93 "Junit Failing on DefaultReviewers when upgrade to Bitbucket 5.1"
After upgrade my local setup to bitbucket 5.1, integration test don't working anymore for defaultReviewers. I will try to fix today or tomorrow before I going to vacancy

[2017-06-07 17:57] cdancy commented on #93
@j0nathan33 can you post the stacktrace here and/or what popped? Tests ran fine for me.

[2017-06-07 17:59] j0nathan33 commented on #93
StackTrace :

Response :
{
    "id": 3,
    "scope": {
      "type": "REPOSITORY",
      "resourceId": 10
    },
    "sourceRefMatcher": {
      "active": true,
      "id": "ANY_REF_MATCHER_ID",
      "displayId": "ANY_REF_MATCHER_ID",
      "type": {
        "id": "ANY_REF",
        "name": "Any branch"
      }
    },
    "targetRefMatcher": {
      "active": true,
      "id": "ANY_REF_MATCHER_ID

[2017-06-07 18:00] j0nathan33 commented on #93
Do you run on bitbucket 5.1 (https://www.atlassian.com/blog/bitbucket/bitbucket-server-5-1-signed-commits-and-more?utm_source=product-announcement-email&utm_medium=email&utm_campaign=server_fy17_q4_server_bitbucket_bb-server-5.1_consideration_blog_na_na_1&jobid=102048451&subid=873411037)

[2017-06-07 18:05] cdancy commented on #93
No we are running `v4.14.0`.

[2017-06-08 01:19] cdancy commented on #93
Resolved per #94

[2017-06-08 01:19] #93 closed

[2017-06-08 13:29] cdancy opened #95 "Optimize test-data creation"
Only create the necessary test-data for each integTest that is required.

[2017-06-29 13:56] cdancy opened #100 "Create and publish minimized (e.g. proguard) "all" jar"

[2017-06-30 11:23] wiibaa opened #101 "Ability to create tasks in PullRequest"
hello,
I am searching for a lib to use as a bot for our bitbucket instance as one could use octokit  with github.
My use case is to scan for newly created pull request and create a comment that hold a list of tasks to be performed by the reviewer(s).
From what I could see, you already have the PR and Commetns APIs but nothing about tasks, am I right ?
Is it already on your roadmap or shall it wait

[2017-06-30 13:38] cdancy commented on #101
@wiibaa glad to hear you like the project! We do indeed have a PullRequest and Comments API. I've not coded anything up for the `tasks` endpoint but if we did, that would fall under the PullRequest api. I can surely whip something together for you if you just need that one endpoint. I am curious though looking over the documentation as I see the below in the response from bitbucket. Do we know wha

[2017-07-03 10:49] wiibaa commented on #101
@cdancy  thanks for the positive feedback; to provide more accurate inputs I made a manual quick test

here is what a call to `http://example.com/rest/api/1.0/projects/{projectKey}/repos/{repositorySlug}/pull-requests/{pullRequestId}/tasks` would look like for a PR that contains 2 tasks in a single comment.

https://gist.github.com/wiibaa/57907ab3ee9fe6161e5037c2ff2ac95d

I also quickly tried post

[2017-07-03 20:15] wiibaa opened #102 "Activities type=COMMENTED does not contain the comment"
Me again :),

actually starting to write my client, I stumble upon how to list the general comments of a PR.

Desperately trying to use GET pullRequest/comments/ I finally found out  that it is not the way to go from https://community.atlassian.com/t5/Answers-Developer-Questions/Reading-pull-request-comments-via-REST-API-fails/qaq-p/523952 confirmed by https://jira.atlassian.com/browse/BSERV-7643

[2017-07-03 20:56] cdancy commented on #101
Ok. Never used this feature actually. Got a good understanding of how it works now. I can probably knock this out for you tomorrow and do a new release within the next few days.

[2017-07-03 20:58] cdancy commented on #102
I'll have a look at this one tomorrow morning after working on the tasks impl for you. Stay tuned!!!

[2017-07-03 21:10] cdancy commented on #102
If you're looking for all the comments of a given PR you can iterate over each page through this endpoint:

https://github.com/cdancy/bitbucket-rest/blob/master/src/main/java/com/cdancy/bitbucket/rest/features/CommentsApi.java#L93

[2017-07-04 07:42] wiibaa commented on #102
I stay tuned for sure.
THe issue with the CommentsApi is that the path parameter is mandatory, so it makes it difficult to iterate over comments directly without knowing the set of files that are modified.
Unless you implemented some extra logic to ease the loop path is a required param and do not accept a wildcard

[code]

[2017-07-04 07:48] wiibaa commented on #102
Forgot to post an example, this is the kind of activity I would like to search for

[code]

[2017-07-04 18:53] cdancy commented on #102
@wiibaa I've got things wired up for the above endpoint to work as you would expect. Were you looking to automate the posting of tasks as well or just querying for them?

[2017-07-05 07:31] wiibaa commented on #101
@cdancy I suppose your [last comment](https://github.com/cdancy/bitbucket-rest/issues/102#issuecomment-312934738) belongs here, and yes my idea was to auto-create a set of tasks that are required for all PR, so the POST endpoint is also needed.

[2017-07-05 20:21] wiibaa commented on #101
@cdancy thanks for the fast work on this topic. I'm testing with looping on ALL existing PR in our repository and I stumbled upon a missed case

`SEVERE: Error parsing input: No enum constant com.cdancy.bitbucket.rest.domain.activities.Activities.ActivitiesType.MERGED`

[2017-07-05 20:27] cdancy commented on #101
@wiibaa I can slip that in as well.

[2017-07-05 21:23] cdancy commented on #101
@wiibaa changes have been committed to master. Would you care to build things locally and see if all cases are covered for you? Also ... added a new api `TasksApi` which will cover all task related operations. Currently there is a single endpoint `create`. Let me know how things work out for you.

https://github.com/cdancy/bitbucket-rest/blob/master/src/main/java/com/cdancy/bitbucket/rest/features

[2017-07-07 11:53] wiibaa commented on #102
Found another issues about listing activities

[code]

Caused by the `likedBy` property
[code]

[2017-07-07 12:03] wiibaa commented on #101
@cdancy AWESOME. Creating a task work like a charm. Feels dizzy to only require the commentId, but is working fine. Thanks you

[2017-07-07 13:27] cdancy commented on #101
Closing as this functionality was merged in #104

[2017-07-07 13:27] #101 closed

[2017-07-07 13:43] cdancy commented on #102
@wiibaa hmmm ... that is no good IMO. Are you on the latest and greatest version of Bitbucket? If so this seems sloppy on their part to change the properties from a generic String/String map to String/Object map. Poking around online now and can't find any documentation on this.

[2017-07-07 17:16] wiibaa commented on #102
@cdancy not the very latest but at least on the 5.0 branch:
`Version{version=5.0.2, buildNumber=5000002, buildDate=1496198334146, displayName=Bitbucket}`
from the release log its from May 2017

[2017-07-07 17:19] cdancy commented on #102
If you can find any documentation on it that would be great. I can't seem to find anything.

If however they are going to be doing String/Object for the `properties` map then the best I could do here would be to return a String/Object map or a String/JSONElement map. With the former the user would have to cast it to "something" which I don't think makes much sense while the latter the user could i

[2017-07-07 17:32] wiibaa commented on #102
also looking around its seems the attributes(4.x) and properties (5.x) can be used by plugins so indeed seems to be rather free from my understanding of https://jira.atlassian.com/browse/BSERV-7876?focusedCommentId=807932&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-807932

[2017-07-07 17:40] cdancy commented on #102
Think you're right here. Let me put in quick fix and we'll see how things fare. Stay tuned...

[2017-07-07 18:23] cdancy commented on #102
@wiibaa just put in a fix. Give things a go and let me know how it works out. All tests pass here so I think we should be good to go.

[2017-07-07 19:41] wiibaa commented on #102
Run the scan on all the PR of one of our big repo, and no hiccup.
Did not expected to have this much impact on existing code but everything should be smooth from now thanks to you.

[2017-07-07 21:13] cdancy commented on #102
No problem. Plan on doing another release this weekend so the official version should be out soon.

[2017-07-07 21:13] #102 closed

[2017-07-07 21:13] cdancy commented on #102
Closing as this functionality was merged in #106

[2017-07-31 01:40] cdancy commented on #95
Resolved as part of https://github.com/cdancy/bitbucket-rest/commit/c2bd9379aa90ac7a9cd1b599daab6416eead4283

[2017-07-31 01:40] #95 closed

[2017-08-10 14:30] cdancy opened #110 "Output payload when MalformedJsonException is thrown"
[code]

[2017-09-20 07:28] bokc opened #111 "Update com.google.code.gson:gson to 2.8.1"
I use bitbucket-rest on a Spring-boot application. This one use 2.8.1 gson version.

[2017-09-20 07:33] bokc opened #112 "Not able to get list of file"
I try to get list of file in a branch but it return empty list.
I try rest request with curl and get good file list.

It's there a way to get the query made by bitbucket-rest api?

[2017-09-20 12:57] bokc commented on #112
I find the solution. Add this in logback.xml :

[code]

[2017-09-20 12:57] #112 closed

[2017-09-20 19:40] cdancy commented on #111
Hmmmm ... Not sure if it'll work correctly. I build on top of the jclouds framework and there may be some issues but I'm honestly not sure. Care to send in a PR?

[2017-09-20 19:41] cdancy commented on #112
Exactly. What was ultimately your issue?

[2017-09-20 20:39] bokc commented on #112
2 issues. First one : wrong repo name. Second one, the LinePage structure is not good when use of FileApi.listLines So I create new api for use files rest entrypoint (https://developer.atlassian.com/static/rest/bitbucket-server/5.4.0/bitbucket-rest.html#idm140014935596976)

[2017-09-20 20:41] bokc commented on #111
I don't make the update. For the moment I don't use gson with Spring-boot so the 2.5 is running.

[2017-09-20 21:06] cdancy commented on #112
@bokc using this library or calling into some other way? We can certainly add an endpoint to accomadate this as going back and forth between 2 different impls has to be a pain :)

[2017-09-20 21:07] cdancy commented on #111
Is there an actual issue then or you'd just like to bump gson? If there are classpath issues you can always use the `all` classifier version of this lib which will shade the gson classes.

[2017-09-21 07:38] bokc commented on #112
I I use your lib but adding a FilesApi :-)

[2017-09-21 07:57] bokc commented on #111
No issue for the moment. Just an improvement for the future

[2017-10-12 15:40] cdancy commented on #41
Finished as part of https://github.com/cdancy/bitbucket-rest/commit/8fd1c565d47a94a49088fed0c8f12a391e5ce252

[2017-10-12 15:50] cdancy commented on #110
Merged as part of release v1.0.3

[2017-10-12 15:50] #110 closed

[2017-10-12 15:51] #41 closed

[2017-10-23 20:50] BlademanHT opened #114 "https endpoint"
Does the api client support https endpoint?

[2017-10-23 20:57] cdancy commented on #114
@BlademanHT yes and we use it here with https though with username/password.

[2017-11-14 10:13] SandeepGolla opened #115 "commitsApi: Implement method to get list of commits between two commit hashes"

[2017-11-17 21:54] cdancy commented on #114
Closing. Feel free to re-open for further conversation if necessary.

[2017-11-17 21:54] #114 closed

[2017-11-17 21:55] cdancy commented on #115
Merged via https://github.com/cdancy/bitbucket-rest/pull/117

[2017-11-17 21:55] #115 closed

[2017-12-01 14:00] Pikolu opened #120 "Push the files to Bitbucket server"
Hello,

Is it possible to push the files to the Bitbucket server?

BR
Alex

[2017-12-01 14:10] cdancy commented on #120
@Pikolu this library does not support that as I don't believe their REST api does. You would have to use a git client to accomplish this.

[2017-12-01 14:10] #120 closed

[2017-12-20 13:43] martinda opened #121 "Personal access tokens"
Hello! What do you think about adding the [personal access tokens](https://confluence.atlassian.com/bitbucketserver055/personal-access-tokens-940682155.html?utm_campaign=in-app-help&utm_medium=in-app-help&utm_source=stash#Personalaccesstokens-usingpersonalaccesstokens%22) feature for authentication? If you give me some guidance, I can probably code it myself and open a pull-request. Thanks!

[2017-12-20 14:29] cdancy commented on #121
@martinda this has been on my personal backlog for sometime to knock out. It shouldn't be too bad as I do this with my other project `artifactory-rest` and think we [could adopt that approach](https://github.com/cdancy/artifactory-rest/blob/master/src/main/java/com/cdancy/artifactory/rest/filters/ArtifactoryAuthentication.java) here. The file in question you want to [focus on is here](https://gith

[2018-01-21 22:01] cdancy commented on #121
Closing issue as this functionality has been merged to master and is in the latest `2.0.0` release.

[2018-01-21 22:01] #121 closed

[2018-01-22 14:53] vanlooverenkoen opened #127 "Authenticate with Personal Token"
Hi,
I want to use your new release to plug into a gradle plugin.  We need to use the Personal Tokens. This is the documentation of the previous release. https://confluence.atlassian.com/bitbucketserver/personal-access-tokens-939515499.html

This picture is the Bitbucket UI at this point. Is the 'App passwords' the correct section?

![image](https://user-images.githubusercontent.com/21172855/352266

[2018-01-22 14:57] vanlooverenkoen opened #128 "Documentation to create a Pull Request."
I want to create a PR with your library. But I always get

[code]

This is the code used to trigger this exception.

[code]

I think I am doing something wrong but it is unclear how to build a simple createPullRequest request.

[2018-01-22 14:58] vanlooverenkoen opened #129 "Where to find the baseUrl?"
I want to use your library but it is unclear where I can get the baseUrl of my bitbucket account.

[2018-01-22 18:00] cdancy commented on #127
This would be the documentation you're looking for:

https://confluence.atlassian.com/bitbucketserver/personal-access-tokens-939515499.html#Personalaccesstokens-Generatingpersonalaccesstokens

[2018-01-23 08:02] #127 closed

[2018-01-26 14:31] pheck opened #130 "RepositoryApi: implement methods to read/update hook settings"
In order to access a hook's settings, `GET `and `PUT `methods for endpoint `/rest/api/1.0/projects/{projectKey}/repos/{repositorySlug}/settings/hooks/{hookKey}/settings` should be implemented.
([Bitbucket REST docs](https://docs.atlassian.com/bitbucket-server/rest/5.0.1/bitbucket-rest.html#idm45993794444512))

I might have missed something, but after playing around a bit with the available Reposit

[2018-01-26 14:39] cdancy commented on #130
@pheck you're right in that currently we only have implemented `listHooks`, `getHook`, `enableHook`, and `disableHook`. We would need a follow up endpoint possibly named `modifyHook` that, as you say and I agree with, takes in `Map<String, String>` to pass along. The documentation is not exactly clear on how to implement this though my hunch is that this must be in the the body of the `PUT` reques

[2018-01-26 20:11] pheck commented on #130
@cdancy given my basic knowledge of java and lack of experience with the frameworks involved in bitbucket-rest, I'd appreciate if one of you could take this on their agenda.

From my `curl`ing with the bitbucket API, I can confirm your guess: `put`ting a json with the appropriate keys/values for each of the hooks to [..]hooks/{hookKey}/settings worked for me.
I don't have a full example at hand as

[2018-01-26 20:16] cdancy commented on #130
@pheck fair enough. Let me see what I can put together this weekend. Stay tuned...

[2018-01-27 22:28] cdancy commented on #130
@pheck can you send over an example of a hook that has settings on your end? We have many hooks here but they all return null/empty json when querying for their settings. I could move forward with the examples provided by Atlassian in the docs but I'd like to have some real world examples of what to expect.

[2018-01-28 08:29] pheck commented on #130
@cdancy Sure, I'll get back to you with an example, but I won't have access to the environment I need before monday.

I'm not 100% sure anymore, but I think I saw the same querying behaviour that you describe,
until I changed all the available options for a hook to their non-default values. (i.e. flipping checkboxes, entering dummy values into empty textboxes etc.)
Only then it returned a useful j

[2018-01-28 22:30] cdancy commented on #130
@pheck care to checkout the above branch/PullRequest and build the project locally and give things a go? I've added the endpoints `RepositoryApi.getHookSettings` and `RepositoryApi.updateHookSettings` both of which take a `HookSettings` object. The object itself can be passed in a `Map` or a `JsonElement` representing the settings to update.

I was able to find a hook here and update without issue

[2018-01-29 06:45] pheck commented on #130
@cdancy That's great! I'm on it, stay tuned for the results...

[2018-01-29 10:02] pheck commented on #130
@cdancy Played around for awhile with the new snapshot: it works like a charm!

Putting a json with the required fields for the hook yields the expected results,
on the other hand, `errors()` correctly tells what's going on if I either enter an invalid project/repo/hookkey, or don't include fields mandatory for the hook in the json.
Tried with both `Map` and `JsonElement`

Thank you very much for

[2018-01-29 12:08] cdancy commented on #130
@pheck great to hear and thanks for testing things out. Going to add a handful of tests and will do a new point release either today or tomorrow.

[2018-01-31 16:20] razem-io opened #132 "Support tags as list api"
Hello,

I am thinking about creating a pull request but perhaps I missed something. Is it currently not possible to retrieve all tags from a repository with bitbucket-rest?

Have a nice day
Julian

[2018-01-31 16:57] cdancy commented on #132
@razem-io not implemented yet. I opened #30 to track this but simply haven't gotten around to it. If you want to send in a PR that would be great as I plan on doing another release very soon.

[2018-02-01 22:24] cdancy commented on #130
@pheck change has been merged. A few changes to note:

- All "hook" endpoints have been moved out of `RepositoryApi` and into the `HookApi`
- The `HookSettings` object changed the method `from` to `of` in keeping with jclouds/guava styles of creating objects.

Putting together one more PR as we speak and will release shortly with a new minor version to account for API breakage.

[2018-02-01 22:24] #130 closed

[2018-02-01 22:28] cdancy commented on #130
Also ... to get the hook settings you can do `HookApi.settings()` and to update the hook settings you can do `HookApi.update()` both taking the same parameters they did before.

[2018-02-02 14:04] pheck commented on #130
@cdancy sounds great!
Will try how things go with the refactored API once the release is out, but I won't be able to get to it before monday.

[2018-02-02 23:48] #132 closed

[2018-02-02 23:48] cdancy commented on #132
@razem-io the `TagApi` gained endpoint `list`. New version `2.1.0` will be released before the end of the weekend.

[2018-02-02 23:50] cdancy commented on #30
Closed as of #132

[2018-02-02 23:50] #30 closed

[2018-02-02 23:51] cdancy commented on #128
Closing. Feel free to re-open if you have any questions.

[2018-02-02 23:51] #128 closed

[2018-02-02 23:53] cdancy opened #134 "Ability to delete a tag"
Ability to delete a tag via the `TagApi` class.

[2018-02-03 00:23] cdancy commented on #134
Merged as part of #135

[2018-02-03 00:23] #134 closed

[2018-02-03 00:34] cdancy commented on #129
Closing issue. Feel free to reopen if necessary.

[2018-02-03 00:34] #129 closed

[2018-02-03 00:35] cdancy commented on #132
`v2.1.0` has been released.

[2018-02-03 00:35] cdancy commented on #130
`v2.1.0` has been released.

[2018-03-16 06:57] rs0x29A opened #136 "BranchApi => branches/info/{commitId}"
Hi.

Bitbucket 4.14.3

Please add support:
```@Path("/branch-utils/{jclouds.api-version}/projects/{project}/repos/{repo}/branches/info/{commitId}")```

Example:
[code]

[2018-03-16 14:21] cdancy commented on #136
@rs0x29A let me see what I can put together this weekend for you unless you want to give things a go yourself.

Documentation for this endpoint can be found [HERE](https://docs.atlassian.com/DAC/rest/stash/2.12.1/stash-branch-utils-rest.html)

[2018-04-01 01:27] #136 closed

[2018-04-01 01:28] cdancy commented on #136
This endpoint `BranchApi.info` will be in the next release which should be available within the next few hours.

[2018-05-01 19:00] martinda opened #140 "Failed to parse error output when not authorised"
### Expected Behavior

When calling `pullRequestApi().get()` without proper authorisation to the REST endpoint, an  error should be reported in the list of `errors()` of the pull-request instance, just like when the same operation is attempted with curl:

[code]

### Current Behavior

The error cannot be parsed, and is instead returned as:
[code]
In this case, the `error()` object contains a messa

[2018-05-01 19:42] cdancy commented on #140
I suspect that's where the issue is. I'll have a look at things today (assuming you don't beat me to it).

[2018-05-02 01:43] martinda commented on #140
Looks like not all installations of bitbucket return the same json response. For example, on my home installation, I get this:
[code]
And for another REST point I get the [documented](https://docs.atlassian.com/bitbucket-server/rest/5.10.0/bitbucket-rest.html#errors-and-validation) json with the context inside a list of `errors`:
[code]
Maybe the fallback handler needs to become more flexible in w

[2018-05-02 13:34] martinda commented on #140
The `getError()` method in `BitbucketFallbacks.java` is completely unaware of the HTTP status, and it relies only on the json provided by Bitbucket for creating the error message. On the other hand the [jenkins-rest](https://github.com/cdancy/jenkins-rest), fallbacks are aware of the HTTP status. What do you think should be the right solution here?

[2018-05-02 14:29] cdancy commented on #140
Yeah what I did with `jenkins-rest` was "more correct" after having not looked at this code in a while.

The returned response being different is indeed odd and something we'll have to account for.

[2018-05-02 14:44] martinda commented on #140
The nice thing with the different approaches between jenkins-rest and bitbucket-rest you get to see the pros and cons of both (and so do I). Learning is always good.

I made changes to `getError()` for now with a few new tests to cover it, and all tests are passing. I will continue to use my snapshot today, and propose my changes as a PR in a few days. Gives time to think.

[2018-05-02 14:45] cdancy commented on #140
@martinda sounds good and thanks! I'm actually traveling at the moment and won't be able to really look at things until at least tomorrow. As it seems you have something going I'll hold off and wait for your PR and we can build on that.

[2018-05-02 16:13] cdancy commented on #140
Possible fix put together at #141

[2018-05-07 09:36] Joni-Lover opened #142 "Failed to parse Null description in build-status response"
Failed to parse Null description in build-status response

### Expected Behavior
When calling **buildStatusApi().status(commit, 1, 100)** and 'commit' has build-status with **null** description I should get correct response such as below:

`
[Status{dateAdded=1525262228566, description=null, key=0982e632-9d99-4f68-93f5-e50c3f6609c7, name=0982e632-9d99-4f68-93f5-e50c3f6609c7, state=FAILED, url=http

[2018-05-07 14:26] cdancy commented on #142
Change has been merged to master. Thanks @Joni-Lover

[2018-05-07 14:26] #142 closed

[2018-05-07 14:34] Joni-Lover commented on #142
@cdancy Thank you very match !

[2018-05-10 11:16] #140 closed

[2018-07-02 07:24] jawoszek opened #144 "Add PUT endpoint for PR participant"
Currently there is no support for [PUT](https://developer.atlassian.com/static/rest/bitbucket-server/latest/bitbucket-rest.html#idm46358292595040) on a specific participant in a PR.

[2018-07-14 13:14] cdancy commented on #144
Merged as part of #145

[2018-07-14 13:14] #144 closed

[2018-08-08 03:24] martinda opened #146 "Some errors running live tests"
I am not sure why, but I get failures running the live tests (master branch).

My question is: are live tests in a state where they are known to pass? If so, with which version of Bitbucket?

### Expected Behavior

Live tests should pass.

### Current Behavior

139 tests completed, 9 failed, 67 skipped

### Context

I am getting ready to add a couple new features (logging, create fork) but first I

[2018-08-08 13:31] cdancy commented on #146
Live tests should more/less pass if you're running as an admin user. I generally just target the latest and greatest version of bitbucket. It's entirely possible you are hitting a bug that is only sometimes reproducible. Is this reproducible every time? Is this the only test that fails? Also seems strange that their is no default branch set but maybe that's OK?

[2018-08-08 15:07] martinda commented on #146
The user is an admin user. It is reproducible every time.

What happens when you run the live tests? Do they all pass? Which version of bitbucket do you use?

Here is another one I get:
[code]

[2018-08-08 15:14] cdancy commented on #146
We just recently upgraded to 5.9.1 and I've yet to try against that version but Bitbucket is pretty good about backwards compatibility which is why I never check things. I can't remember what we were on before the upgrade but it was definitely 5.x. Let me give things a go now and see what I get. Stay tuned...

[2018-08-08 15:45] martinda commented on #146
I am noticing something strange in the stdout, the git commands appear to be empty.

[code]
This is odd since `TestUtilities.java` does print something to the terminal after printing the intent:
https://github.com/cdancy/bitbucket-rest/blob/master/src/test/java/com/cdancy/bitbucket/rest/TestUtilities.java#L236-L262

[2018-08-08 15:56] martinda commented on #146
I found the problem I think... I added some println statements and discovered this:
[code]
Then I ran the command from the terminal:
[code]
It stops and asks for the password.

[2018-08-08 16:31] martinda commented on #146
Most of the tests now pass but I needed to add my credentials to my `~/.netrc` file... Now only three tests fail.

[2018-08-08 16:38] cdancy commented on #146
@martinda so running the branches live test worked for me ... however when looking at the documentation I do see that when a repository is empty Bitbucket will return a 204 with no content which is a case which is not currently supported. I can make a fix for that now.

https://docs.atlassian.com/bitbucket-server/rest/5.13.0/bitbucket-rest.html?utm_source=%2Fstatic%2Frest%2Fbitbucket-server%2Flate

[2018-08-08 17:09] martinda commented on #146
@cdancy yes, I have a bit of time in the next couple of days, I can help run some tests.

This is one of the three remaining errors I get:
[code]
The stdout shows:
[code]

[2018-08-09 13:43] martinda commented on #146
@cdancy I looked into the `TestUserName2` problem and it looks like the test user does not have the necessary read permission into the project where the pull-request is created. There is a REST API to add a user to a project or to a repository, but it has not been implemented. I propose to create a PR that adds API methods to resolve this issue.

[2018-08-09 13:47] cdancy commented on #146
@martinda yeah that would be ideal. That, potentially combined with `AdminApi.createUser` if we test user has the right privileges, would be the proper way to do things.

[2018-08-10 01:14] martinda opened #150 "TagApiLiveTest fails with HTTP 405"
### Expected Behavior

The live test for deleting a tag should pass.

### Current Behavior

The live test for deleting a tag fails:

[code]
Attempting the same request with curl also results in an HTTP 405 error.

### Context

Trying to cleanup the live tests.

### Steps to Reproduce (for bugs)

On linux:
[code]

The bug is actually in the `@Path` declaration:

https://github.com/cdancy/bitbucket-

[2018-08-10 13:05] cdancy commented on #150
Interesting.... but I'll take it :)

[2018-08-12 18:08] martinda opened #153 "Add Pull-Request Delete feature"
### Expected Behavior

I need the REST API to delete pull-requests.

### Current Behavior

The REST API for deleting pull-requests does not exist yet.

### Context

When writing tests for higher level applications, these tests need to create and delete pull-requests.

### Steps to Reproduce (for bugs)

There is no way to reproduce since the feature does not exist.

### Your Environment

Linux, Bit

[2018-08-22 01:06] cdancy commented on #153
Change has been merged to master.

[2018-08-22 01:06] #153 closed

[2018-08-22 01:07] cdancy commented on #150
Change has been merged to master.

[2018-08-22 01:07] #150 closed

[2018-08-22 01:08] cdancy commented on #146
Changes for this have been merged to master.

[2018-08-22 01:08] #146 closed

[2018-08-29 12:40] richabindra opened #156 "Enable http logging in application"
We need to enable http logging to the console in an application using bitbucket-rest to show the interactions with the bitbucket REST endpoint. @martinda enabled the logging in jenkins-rest by exposing modules option in JenkinsClient builder (https://github.com/cdancy/jenkins-rest/issues/9) and we need to have a similar module option in bitbucket-rest.

I have prepared a PR replicating what was do

[2018-08-29 14:15] cdancy commented on #156
@richabindra very awesome and thanks! Looking forward to reviewing.

[2018-09-24 19:16] #156 closed

[2018-09-26 13:40] tomasbjerre opened #158 "Question: Is streaming supported?"
Does this client support streams?

The docs here: https://docs.atlassian.com/bitbucket-server/rest/5.14.0/bitbucket-rest.html
States:

[2018-09-26 14:02] cdancy commented on #158
@tomasbjerre streaming/paging is supported in so far as the API/endpoints allow it. With this library you can certainly get a page, and then the next page, and so on and so forth, until there are no pages left but Bitbucket itself determines this on an endpoint-by-endpoint basis and so there is not much anyone can do until they properly support a given endpoint. I've had luck in the past using a g

[2018-09-26 14:19] tomasbjerre commented on #158
Not really sure I understand you here. To me it sounds like paging and streaming are 2 different things. And it sounds like you are say that paging is supported in this client.

Specifically I'm looking at `/rest/api/1.0/projects/{projectKey}/repos/{repositorySlug}/commits/{commitId}/diff` and the issue reported here: https://github.com/jenkinsci/violation-comments-to-stash-plugin/issues/60. This

[2018-09-27 02:32] #158 closed

[2018-10-04 21:44] kmoco2am opened #159 "Support for project permissions is missing"
### Expected Behavior
It is possible to manage permissions for the repositories on project level so there should be support for this API on a project.

### Current Behavior
Currently, there is support only for getting/setting permissions on the repository level. Permissions on project level cannot be managed.

### Context
I need to read all permissions affecting access to the repositories so proje

[2018-10-04 23:44] cdancy commented on #159
Thanks for the PR @kmoco2am ! Reviewing now...

[2018-10-08 20:55] kmoco2am commented on #159
Works perfectly in 2.3.0.

[2018-10-08 20:55] #159 closed

[2018-10-15 10:17] Joni-Lover opened #161 "Need WebHook api methods"
Support new WebHook API

https://docs.atlassian.com/bitbucket-server/rest/5.14.1/bitbucket-rest.html#idm45367160975200

[2018-10-24 22:38] KaiserZip opened #163 "Question: is fork sync supported?"
Hello,

Is the "sync" feature supported by your java api?

equivalent of:
https://docs.atlassian.com/DAC/rest/stash/3.7.2/stash-repository-ref-sync-rest.html
"Enables or disables synchronization for the specified repository"

Thanks in advance for your answer, and great job for the work you did :)
Brgds

[2018-10-25 01:10] cdancy commented on #163
Not currently supported but would definitely be good to have. Are you interested in submitting a PR or did you want one of us to take care of it? I'm off for the next few days and maybe be able to knock things out.

[2018-10-25 19:32] KaiserZip commented on #163
I'm afraid I wouldn't know how to implement the feature... but if one of you wants to work on it, I would be definitely interested :)

[2018-10-26 23:41] cdancy commented on #163
Ok let me see what I can knock out. Stay tuned...

[2018-12-11 10:59] Sakethramvs opened #164 "Please update version of spring social in pom.xml I'm having issues with dependencies"
### Expected Behavior
Maven is supposed to import all dependencies.

### Current Behavior
Maven is not able to pull the given versions from central repo

### Context
I'm unable to compile my code. It says  (After I change spring social to release version)
[ERROR] \spring-social-bitbucket-master\src\main\java\org\springframework\social\bitbucket\config\annotation\TwitterProviderConfigRegistrar.java

[2018-12-11 12:09] #164 closed

[2019-01-03 14:15] KaiserZip commented on #163
Hi Christopher,
Did you have time to work on this one? :)
Thanks

[2019-01-06 23:33] cdancy commented on #163
Actually been meaning to circle back on this as there is interest here to have this feature. Let me see what I can make happen over the next couple days.

[2019-01-07 04:04] ftclausen opened #165 "Question: Is there a way to get all tasks?"
Firstly, many thanks for this project!

Looking at the [live tests](https://github.com/cdancy/bitbucket-rest/blob/master/src/test/java/com/cdancy/bitbucket/rest/features/TasksApiLiveTest.java) I don't see an obvious way to get all tasks associated with a PR in one API call. At the moment I am using the Activities Stream to find all tasks but hoping there is a simpler way.

The underlying Bitbucket

[2019-01-13 18:13] cdancy commented on #165
This is not currently implemented. Would you be open to submitting a PR for this feature?

[2019-01-14 01:18] cdancy commented on #163
Initial impl put together here: https://github.com/cdancy/bitbucket-rest/pull/166

[2019-01-14 08:14] ftclausen commented on #165
Thanks for your reply. I’m am certainly open to submitting a PR once I return from vacation in 2 weeks.

[2019-01-14 19:52] cdancy commented on #165
@ftclausen let me know if you have any questions when you get back and I can walk you through things. If you can't find the time just say so and I can try to whip something together on the weekend. Shouldn't be that bad as it's only 1 endpoint I just personally like to encourage outside contributions.

[2019-01-15 00:27] ftclausen opened #167 "Parsing error when a comment contains both a task _and_ a like."
**PR forthcoming** and will update issue once it is submitted.

### Expected Behavior

Parsing of comment (for example, from the activities page) should return activity page objects to client code.

### Current Behavior

Parsing fails in bitbucket-rest prior to reaching client code. The error looks as follows:

[code]

Rest of stack trace omitted.

### Context

I can't parse PRs with liked comment

[2019-01-15 00:33] ftclausen commented on #165
Thanks, and I will let you know if I have any questions. Today is actually my last day of work prior to my vacation so did shoot in a [comment fix PR](https://github.com/cdancy/bitbucket-rest/pull/168) that was biting us.

[2019-01-15 14:41] cdancy commented on #167
Fixed as per #168

[2019-01-15 14:41] #167 closed

[2019-02-08 13:39] KaiserZip commented on #163
nice job thanks :) is it ready for merge?

[2019-02-13 17:04] stoesselt commented on #29
I am currently working on a groovy script which embeds this library in order to export the pull request data to a document which can be archived with the product documentation. I also want to fetch the comments. So, in which extent is the paging support currently not implemented?

[2019-02-13 17:26] stoesselt opened #169 "Is there a possibility to retrieve the file path and line information for outdated comments?"
I know 2 possibilities to retrieve comments via this lib:
1. `commentsApi().fileComments(project, repo, pullRequestId, path, nextPageStart, null)` and
1. `pullRequestApi().listActivities(project, repo, pullRequestId, null, nextPageStart)` where I filter `action == COMMENTED`

In the Bitbucket PR overview page, a comment can be active or outdated. When it is outdated, a little symbol `OUTDATED` is

[2019-02-14 05:06] adam-tylr opened #170 "Implement single file creation/updating"
Implement the file update/create api as documented here:
https://docs.atlassian.com/bitbucket-server/rest/6.0.0/bitbucket-rest.html#idp185

I'm working on a PR to add this feature

[2019-02-14 16:13] stoesselt commented on #169
As some further investigation turned out, I could achieve my desired result with only small changes to the library, see the pull request #171. So from my side, this issue can be closed.

[2019-02-15 18:19] richabindra opened #172 "Update pull request when the pull request is in open state"
### Expected Behavior
After a pull request has been opened, we can update the pull request's title, description, reviewers or the destination branch.

### Current Behavior
Using the bitbucket-rest PullRequestApi, we can create a new pull request or get the existing pull request's attributes, but we cannot update the title, description, reviewers or the destination branch of an existing pull reques

[2019-02-16 18:43] cdancy commented on #163
@KaiserZip PR has just been merged to master and am doing a release shortly. Sorry things took so long but had some issues writing integration tests and simply didn't have the time to sort things out until now. Stay tuned...

[2019-02-16 18:51] cdancy commented on #163
Version `2.4.0` has been released. Give things a go and let me know if you have any questions.

[2019-02-16 18:51] #163 closed

[2019-02-16 18:55] cdancy commented on #169
@stoesselt thanks for the issue and PR. Apologies for getting around to this so late just been busy with other things at work and I'm the only maintainer here at the moment :)

Looking over your PR now...

[2019-02-16 19:11] cdancy commented on #169
Version `2.4.1` has been released. Thanks for the PR @stoesselt !!!

[2019-02-16 19:11] #169 closed

[2019-02-16 20:20] cdancy commented on #170
Version `2.4.2` has been released with these changes. Thanks @adam-tylr !

[2019-02-16 20:20] #170 closed

[2019-02-16 20:25] cdancy commented on #172
Checkout the `PullRequestApi.*Participant` endpoints and let me know how you make out.

[2019-02-18 15:07] KaiserZip commented on #163
Thanks @cdancy I've moved from 2.1.1 to 2.4.0 and this works like a charm:

But I've noticed that on 2.4.0 my following call is now broken:

failing with:

when reverting back to 2.1.1 it works fine :)
any idea if something has changed around that feature?

Thanks for your support :)

[2019-02-19 14:11] richabindra commented on #172
Thanks @cdancy ! I have just started working on this issue and will send a PR for review once done.

[2019-02-19 14:22] cdancy commented on #163
@KaiserZip is it reproducible? Can you possibly run this code with debug turned out to get more logs? This generally pops when an unknown response is returned. When you do this does the actual PR get created but the call just fails?

[2019-02-19 14:25] richabindra commented on #172
@cdancy - a quick question for my clarity pls. Why do I need to checkout the `PullRequestApi.*Participant` endpoints? I thought we have to add a new post method declaration in PullRequestApi class (similar to "pull-request:get")

https://github.com/cdancy/bitbucket-rest/blob/22a62f633c3432287f054387df69ad498ce72983/src/main/java/com/cdancy/bitbucket/rest/features/PullRequestApi.java#L71-L80

and f

[2019-02-19 14:34] KaiserZip commented on #163
nope, with 2.4.0 call fails with above error + PR is **not** created
and with 2.3.0 call is successfull + PR is created

The diff between both versions is only [PR 166](https://github.com/cdancy/bitbucket-rest/pull/166) + [PR 168](https://github.com/cdancy/bitbucket-rest/pull/168) right?

[2019-02-19 15:01] cdancy commented on #172
Those endpoints are already available in this library you just have to use them :) Check out the below link and you can see they've already been defined.

https://github.com/cdancy/bitbucket-rest/blob/22a62f633c3432287f054387df69ad498ce72983/src/main/java/com/cdancy/bitbucket/rest/features/PullRequestApi.java#L243

[2019-02-19 15:01] richabindra commented on #172
But now if I look at the participants api, I think it might solve the purpose of adding the reviewers to the existing pull request. What do you think will be a better approach.?

[2019-02-19 15:01] martinda commented on #172
@richabindra there is also a [participants REST API](https://docs.atlassian.com/bitbucket-server/rest/6.0.0/bitbucket-rest.html?utm_source=%2Fstatic%2Frest%2Fbitbucket-server%2Flatest%2Fbitbucket-rest.html&utm_medium=301#idp284).

[2019-02-19 15:02] richabindra commented on #172
Yes true! Alright, that makes things simpler then :) thanks!

[2019-02-19 15:06] cdancy commented on #172
Sounds good. Let me know how things work out.

[2019-02-19 15:06] #172 closed

[2019-02-19 15:06] richabindra commented on #172
@cdancy - sure! thanks again :)

[2019-02-20 16:49] KaiserZip commented on #163
Okay I think I've spotted the problem:

I am using this code:

[code]

The resulting java objects seem correct, but at some point there's a java->json transformation when building the http payload of the request sent to bitbucket server, and the json itself is different between both versions:

bitbucket-rest:2.3.0:

bitbucket-rest:2.4.0:

In 2nd case the server replies with an error 500, leading t

[2019-02-20 16:51] cdancy commented on #163
That's interesting. No idea at the moment but poking around now. Stay tuned...

[2019-02-20 17:19] KaiserZip commented on #163
shouldn't we have

instead of

in Reference.java?

[2019-02-20 17:35] cdancy commented on #163
No that just produces more errors unfortunately :(

I do however believe it has something to do with the fact that the `Reference` pojo now implements `ErrorsHolder` on account of the SyncApi. If I can't find a sane way around things we'll have to break things out about a bit.

[2019-02-20 19:10] cdancy commented on #163
yeah so what I'm going with is to revert the changes to `Reference` so that your code will work and then change the SyncApi to return a `SyncState` instead of trying to piggyback on the `Reference` object which is causing issues. Might take a day or 2 as I'm busy at the moment.

[2019-02-21 09:34] KaiserZip commented on #163
yes for sure it is linked to the fact that ``Reference`` now implements ``ErrorsHolder`` and the ``errors`` is now at first index instead of ``id``

for instance, as a test, I've manually added a fake error to my ``fromRef``:

[code]

and in the resulting json, the error can be seen instead of the id:

[code]

[2019-02-22 11:11] mronus commented on #161
@cdancy Is there any progress on this subject? Just asking to be able to plan our roadmap for our product.

[2019-02-25 15:20] richabindra commented on #172
@cdancy - the participants api works all good for us :) thanks again for pointing in the right direction.

[2019-02-26 01:52] cdancy commented on #163
@KaiserZip version `2.4.3` has been released with the fix. Let me know how things work out for you.

[2019-02-26 01:54] cdancy commented on #163
It should be noted that `SyncApi.synchronize` now returns a `SyncState` object instead of `Reference` object. It's a breaking change, which is no good, but there really is no other way around this. It was an over aggressive optimization on my part.

[2019-02-26 01:56] cdancy commented on #161
@mronus the PR you noted just needs tests written to confirm all works as expected. I can try to get around to things this week but most likely won't get to things until the weekend. I see the committer on the PR chimed in but doesn't look like he will be able to circle back around to things anytime soon.

[2019-02-26 09:19] KaiserZip commented on #163
works perfectly, thanks a lot! :)

[2019-02-27 03:58] ftclausen opened #175 "Discussion: Marking existing "RESOLVED" task as "OPEN"."
I am looking into contributing functionality to mark an existing task as "OPEN" when it's already checked (i.e. "RESOLVED" in the API). I found the [Task](https://github.com/cdancy/bitbucket-rest/blob/master/src/main/java/com/cdancy/bitbucket/rest/domain/comment/Task.java) class that, as best I can figure out, is serialised and eventually passed onto Bitbucket with the correct values. I think the

[2019-02-28 15:51] cdancy commented on #175
@ftclausen so I think we'd want a new `TaskApi.update` method which would indeed be a `PUT`. As to what to pass it I'm not entirely sure at the moment. It's not clearly defined what exactly can be passed/updated. I would start with making a `CreateTaskUpdate` which maybe takes a handful of things the user _could_ update. If down the road you, or someone else, wants to add additional options we cou

[2019-02-28 15:53] cdancy commented on #175
The `CreateTaskUpdate`, and the API method itself, could be modeled after the [create](https://github.com/cdancy/bitbucket-rest/blob/master/src/main/java/com/cdancy/bitbucket/rest/features/TasksApi.java#L54) method.

[2019-03-01 01:19] ftclausen commented on #175
Thanks for the info - I'll investigate down that path and ask any follow-up questions if need be.

[2019-03-03 23:22] cdancy opened #177 "Write mock-tests for WebHookApi"
Live tests are already written just need corresponding mock tests.

[2019-03-03 23:23] #54 closed

[2019-03-03 23:25] cdancy commented on #161
Version `2.5.0` has been released. @Joni-Lover thanks for the work here buddy as the code you did write worked perfectly which made knocking out the live tests a breeze. Actually wish I would have known that as I would have knocked this out 6 months ago :)

[2019-03-03 23:25] #161 closed

[2019-03-06 15:30] cdancy commented on #177
Resolved via #178

[2019-03-06 15:30] #177 closed

[2019-03-12 23:04] ftclausen commented on #175
I'm working through some options and adding a live test. However the live tests are not working for me because the endpoint seems to be null despite having updated gradle.properties to point to my local dev instance. Specifically [the init](https://github.com/cdancy/bitbucket-rest/blob/master/src/test/java/com/cdancy/bitbucket/rest/features/TasksApiLiveTest.java#L55) step to get the endpoint is re

[2019-03-13 00:47] cdancy commented on #175
Also you should need to set is `testBitbucketRestEndpoint` and `testBitbucketRestCredentials` in your gradle.properties file and you should be good to go.

[2019-03-13 00:47] cdancy commented on #175
If it's null then something else is at play

[2019-03-13 05:11] ftclausen commented on #175
I am indeed setting those and, on an unchanged master branch, there are quite few failures when running `./gradlew integTest`. They are all along the lines of:

[code]

I'll keep digging and see what I can find.

[2019-03-13 19:56] cdancy commented on #175
You can also, through the root `build.gradle` file, set just the single `integTest` you want to run so that you don't have to potentially sit and wait for everything.

[2019-03-14 05:00] ftclausen commented on #175
Ah, I found the issue, our username has mixed case i.e. `exampleUser` and com.cdancy.bitbucket.rest.domain.pullrequest.User#slug is returned as all lower case. Then, in com.cdancy.bitbucket.rest.TestUtilities#getDefaultUser there is:

                for (final User user : userPage.values()) {
                    if (username.equals(user.slug())) {
                        defaultUser = user;

[2019-03-14 15:23] cdancy commented on #175
Aaaahhhh good catch ... if you just want to attach the fix to your forthcoming PR that would work as well.

[2019-03-14 16:29] adam-tylr commented on #54
@cdancy I see you closed this recently. Is this no longer on the road-map?

[2019-03-14 16:34] adam-tylr opened #179 "Implement last-modified API"
Implement the API described here: https://docs.atlassian.com/bitbucket-server/rest/5.1.0/bitbucket-rest.html#idm45588159014928

This will get a list of files at the path and include their last modified time

I'll submit a PR

[2019-03-15 02:39] ftclausen commented on #175
Another thing I had to modify was _initGeneratedTestContents_ use the full authentication string (e.g. `exampleUser:password`) in the URL instead of just the username. Otherwise the integTest would ask for a password when pushing. How did you managed to get pushes to `https` endpoints to work with only a username? Maybe I missed something or there is a way to use ssh.

[2019-03-15 03:03] adam-tylr commented on #179
@cdancy Do you want this in the files API or the commits API? It returns a map of files to their latest commit.

[2019-03-15 03:10] cdancy commented on #179
Hey @adam-tylr didn't even see this issue come across my feed. Looking now...

[2019-03-15 03:11] cdancy commented on #179
Lets go with the `FileApi` and see how that looks. Seems the most likely place to put things :)

[2019-03-15 03:14] cdancy commented on #54
@adam-tylr just haven't had the time to do so and the issue has been open for so long that I figured I'd close it for now. Though if you, or someone else, wants to have a go at things by all means I'll take any PR's you or the community has ;)

[2019-03-15 03:14] adam-tylr commented on #179
Sounds good. Thanks for the quick response!

[2019-03-15 03:14] cdancy commented on #175
I'm not sure and now you have me wondering. Add that to the PR as well and I can look things over and make sure it all still works on this end.

[2019-03-15 03:44] cdancy commented on #179
No problem. I'm currently doing a 24 hour hackathon at my job at the moment so I'll be up all night if you need anything ;)

[2019-03-17 02:37] adam-tylr commented on #54
@cdancy I've been trying to look into what it would take to do this but I'm not really sure how. I googled and searched through some jclouds docs but didn't find anything about a request options builder. Do you have any links to point me in the direction of what you had in mind?

[2019-03-18 15:42] cdancy commented on #179
Closing per #180

[2019-03-18 15:42] #179 closed

[2019-03-18 15:44] cdancy opened #182 "Implement `labels` endpoints"
Multiple endpoints here to tackle and each should be done in their own PR.

https://docs.atlassian.com/bitbucket-server/rest/6.0.0/bitbucket-rest.html#idp86

[2019-03-18 15:46] cdancy opened #183 "Implement `Users` endpoints"
A new `UsersApi` should be created along with PR's for each endpoint.

https://docs.atlassian.com/bitbucket-server/rest/6.0.0/bitbucket-rest.html#idp362

[2019-03-18 15:48] cdancy opened #184 "Implement `clusters` endpoint"
https://docs.atlassian.com/bitbucket-server/rest/6.0.0/bitbucket-rest.html#idp40

[2019-03-18 15:50] cdancy opened #185 "Implement migration `export` and `import` endpoints"
New PR's should be created for each endpoint and between the two there is something like 12 endpoints.

https://docs.atlassian.com/bitbucket-server/rest/6.0.0/bitbucket-rest.html#idp105

[2019-03-18 22:43] adam-tylr opened #186 "Implement list files at path"
There exists an API already to list files but it's missing the path parameter as specified here:

https://docs.atlassian.com/bitbucket-server/rest/6.0.0/bitbucket-rest.html#idp224

[2019-03-19 14:14] cdancy commented on #186
Closing as #187 has been merged to master.

[2019-03-19 14:14] #186 closed

[2019-03-28 07:30] ajammil commented on #183
Hello mr @cdancy,
I almost did the first endpoint, but I need feedback.
Also in the Mock test for the UserApi, I disabled the assertSent(..) function as it gave me errors, Could you tell me what I did wrong?
Thank you in advance.
https://github.com/ajammil/bitbucket-rest/tree/UserApi-Development

[2019-03-28 10:16] cdancy commented on #183
Feel free to open a pull request to get feedback earlier as well.

 I'll take a look at things in more depth shortly...

[2019-04-02 11:59] #175 closed

[2019-04-15 14:12] mronus opened #190 "RepositoryApi: get all public/private repos together without looping projects"
RepositoryApi#list throws exception when sending project as null. I know that Bitbucket Rest API supports listing all repos together without looping through all projects one by one.

I couldn't find anything about that, so would like to know if there is a planned roadmap about this or if it already exists, and if the exception thrown by RepositoryApi#list is thrown intentionally or if it is a bug.

[2019-04-15 14:36] cdancy commented on #190
@mronus this is true if you're creating a repo under your **user name** if you're not attaching it to a project. The repository has to go somewhere, under some umbrella, so it's not under a project it is assumed you want to put things under your **user name** which essentially acts as a project folder. This client expects you to pass in a projectId (be than an actual projectId or a user-name) and

[2019-04-15 16:29] mronus commented on #190
Thanks a lot @cdancy , I got it very well in terms of repos which has no parent project; however, it is still an open question how to use the repos endpoint "/rest/api/1.0/repos". Has it been implemented in the library yet? I checked docs, libs everything but couldn't find anything. So I just want to be sure before starting investigating different solution, or maybe I can create a PR if I can spar

[2019-04-15 17:38] cdancy commented on #190
@mronus we have loads of endpoints coded for in our [RepositoryApi](https://github.com/cdancy/bitbucket-rest/blob/master/src/main/java/com/cdancy/bitbucket/rest/features/RepositoryApi.java) class.

[2019-04-16 09:33] mronus commented on #190
@cdancy I checked it already but I think we have an inconsistency there. We have two Api (ProjectApi and RepositoryApi) classes with the same root path: "@Path("/rest/api/{jclouds.api-version}/projects")" . In terms of resource ownership, I think all endpoints which has {project} parameter in RepositoryApi should have been in [ProjectApi](https://github.com/cdancy/bitbucket-rest/blob/master/src/ma

[2019-04-16 10:05] mronus commented on #190
I think it will be much better discussing it through a pull request. I'll create it ASAP.

[2019-04-16 13:02] cdancy commented on #190
@mronus I'm not sure an entire new Api/Endpoint is necessary as using the `RepositoryApi` class that I noted above should be sufficient. What I think you want to do instead is to make the "project parameter" optional or Nullable. Something similar was done recently on [THIS PR](https://github.com/cdancy/bitbucket-rest/pull/187/files) which you may be able to use and/or take away from.

[2019-04-16 20:23] mronus commented on #190
@cdancy I got the resolution for listing repos under username. The thing that I want to point out is listing all repos regardless of project. So I think we need to add the endpoint "/rest/api/1.0/repos" to the RepositoryApi somehow. I created a [PR](https://github.com/cdancy/bitbucket-rest/pull/191/files) as start point. Please review and let me know your thoughts.

[2019-04-20 00:07] bhavik3jain opened #193 "[Question] Is it possible to get a list of commits for a specific branch in a repo?"
The title pretty much asks the question.

I am currently trying to create a script, but that requires that I get a list of commits from a repo, but for a specific branch. I tried many different approaches, but was unable to get anywhere. If anyone could give me a pointer it will be very much appreciated.

[2019-04-23 14:56] cdancy commented on #193
Checkout [THIS](https://github.com/cdancy/bitbucket-rest/blob/master/src/main/java/com/cdancy/bitbucket/rest/features/CommitsApi.java#L75) Api the documentation for which can be found [HERE](https://docs.atlassian.com/bitbucket-server/rest/6.2.0/bitbucket-rest.html#idp189). You should be able to supply the `since` argument with the branch name to get what you want.

[2019-04-24 06:24] kstrijbos opened #194 "Fix incompatibility with Spring due to Gson version"
### Expected Behavior
It should start without error when Spring Boot is on the classpath.

### Current Behavior
The Jclouds dependency has a dependency on Gson 2.5. Spring Boot has a dependency on Gson 2.8.5. Google made some breaking changes (within a minor...). More specifically: Gson 2.8.5 does not contain a constructor that is used in Jclouds 2.1.2. Vice versa, Gson 2.5 does not contain a meth

[2019-04-24 09:40] cdancy commented on #194
This is a known jclouds issue and unfortunately not that easy to solve. You can however get around this problem by specifying the `all` classifier wherever you define the dependency on this library. That will pull in a shaded version of this lib and allow you to then put whatever you want in the path without things getting clobbered. Give that a go and let me know how it works out.

[2019-04-24 10:01] kstrijbos commented on #194
Thanks for the answer. In the case of Spring, I believe it's a cleaner solution to explicitly exclude the Configuration class from the classpath scanning.

`@EnableAutoConfiguration(exclude = {org.springframework.boot.autoconfigure.gson.GsonAutoConfiguration.class})
`

[2019-04-24 10:27] cdancy commented on #194
That could work as well. Closing this issue as it appears we now have multiple paths forward. Feel free to re-open should you want to discuss things further.

[2019-04-24 10:27] #194 closed

[2019-04-24 23:47] bhavik3jain commented on #193
This was perfect. It answers my question and I am able to get the result that I needed. Thanks!

[2019-04-24 23:47] #193 closed

[2019-04-26 20:25] #190 closed

[2019-06-04 13:51] padas2 opened #195 "Tag API not deleting tags as expected"
**Problem :**
TagApi does not delete tags as expected.

**Code used to delete tag :**
`api().tagApi().delete(project, repo, tag)`.
I see the tag still present in the repository.

**Verification :**
Was able to delete tag by firing a DELETE call to
`rest/git/1.0/projects/<project-name>/repos/<repo-name>/tags/<tag-name>`
with appropriate credentials.

Am I missing anything here?

[2019-06-04 14:04] cdancy commented on #195
@padas2 are there any exceptions thrown? You can check the `RequestStatus` returned to see if any errors were thrown.

[2019-06-04 14:52] padas2 commented on #195
On printing error objects , this is what I get.
`Error{`
`    context=DELETE <tag-delete-request-url> HTTP/1.1 -> HTTP/1.1 405 null, `
`    message=Failed to parse output: `
`    message=com.cdancy.bitbucket.rest.shaded.com.google.gson.stream.MalformedJsonException: Use `
`                    JsonReader.setLenient(true) to accept malformed JSON at line 1 column 9 path $, `
`    exceptionName=com.c

[2019-06-04 15:03] cdancy commented on #195
What is the exact command you used to verify?

How did you build this bitbucket-client? The 405 would suggest you don't have the credentials to delete or it's an older/newer version of  Bitbucket or something. If you enable debug logging, however you are invoking this client, you'll get a lot of more information surrounding the actual http call.

[2019-06-04 15:31] cdancy commented on #195
Yeah upgrade to latest and greatest as a lot has changed since then.

How did you verify things work outside of the client? Maybe using curl?

[2019-06-04 15:31] padas2 commented on #195
A DELETE call using Postman.

[2019-06-04 16:32] padas2 commented on #195
Whoa that works.
Tag has been deleted now.
I will close the issue now.

[2019-06-04 16:38] #195 closed

[2019-06-04 16:45] cdancy commented on #195
Sounds good! You must have hit some bug that existed a while back.

[2019-06-04 16:49] padas2 commented on #195
Yes, this [commit](https://github.com/cdancy/bitbucket-rest/commit/416c832f77922e79980e52213b7b0b3ae3d72b21) had already fixed the issue .
So we're good.
It was just a matter of upgrading to the latest version.

[2019-06-07 12:55] padas2 opened #196 "Adding API's to generate and download support zip from bitbucket server."
Hey Chris,

Not a bug or any issue.
Was going through this [link](https://confluence.atlassian.com/support/create-a-support-zip-using-the-rest-api-in-server-applications-947857090.html.)

Looks like there are REST endpoints exposed to download support zip(which would contain server logs, configs etc ) from bitbucket server and [data center](https://confluence.atlassian.com/support/create-a-support

[2019-06-07 13:34] cdancy commented on #196
As if any self-respecting project maintainer would turn down contributed code ;) By all means put something together and we can look things over. Yeah those endpoints have come up before by someone else and thought they would be great to have just never followed up on it.

[2019-06-07 13:56] padas2 commented on #196
:).
Let me see what I can come up with.

[2019-06-07 13:58] padas2 commented on #196
:grin:
Let me see what I can come up with.

[2019-06-10 06:49] padas2 commented on #196
Hey Chris,

I put together an intial draft of the PR for this.
Could you go over the changes [here](https://github.com/cdancy/bitbucket-rest/pull/197).

Also need your inputs regarding a couple of code changes about which I have mentioned in the description itself.

[2019-06-22 16:41] neomatrix369 opened #198 "[Question] Does this client support both Bitbucket server and cloud?"
### Expected Behavior
The examples on the README would work as expected when run against API endpoint https://api.bitbucket.org/2.0/

Also, some log output of sent and received messages i.e. request and response objects - is there a way to enable debug logging?

### Current Behavior
I get an error like: `{"message": "Resource not found", "detail": "There is no API hosted at this URL.\n\nFor inform

[2019-06-24 19:00] cdancy commented on #198
@neomatrix369 yeah it works across the board and just targets the REST endpoints. It should be noted that not ALL endpoints have been coded for just those that are most relevant and/or that users care to see and implement. If there is something that you'd like, that is missing here, just open an ISSUE and ask and either myself or one of the other contributors will chime and see if we can knock thi

[2019-06-26 15:24] neomatrix369 commented on #198
Thanks for the reply, I'm still not sure why the implementation I copied from your example didn't work on the Bitbucket cloud?

Enhancing the library is a great idea and thanks for the invite although there is a bit of a learning curve to get around the internals and how it has been implemented. I'll let you know when I get around that. I have implemented the Bitbucket REST API via UniRest and hav

[2019-07-17 14:58] hesch opened #199 "The RepositoryApiLiveTest does not work"
The integrationtests fail on master.

### Expected Behavior

The integrationtests should not fail.

### Current Behavior

The RepositoryApiLiveTest fails.
To be more precise the methods testListAllRepositoriesByRepository and testListAllRepositories fail because the assertion `assertThat(foundRepos).isNotEmpty();` fails.

### Context

I want to open a PR and tried to write integrationtests for my

[2019-07-18 11:50] #199 closed

[2019-09-25 19:27] AlyIbrahim opened #201 "MVN Repository files not found"
### Expected Behavior
Adding the maven dependency to my project and running
mvn clean install should end up pulling the pom and jar file from maven repositories.

### Current Behavior
[code]
And if you follow the link to the jar file, I am getting `404 Not Found`

### Context
I am trying to add bitbucket-rest as a dependency to my project.
I added the following dependency in my pom.xml
[code]

###

[2019-09-26 19:01] cdancy commented on #201
I actually don't publish to maven and ONLY publish to Bintray. I _assume_ things are getting propagated to maven maybe by Bintray but I never wired that up. Can you try pulling from Bintray and see if that resolves your problem?

[2019-10-01 17:48] AlyIbrahim commented on #201
Yep, finally it worked ..
It took me sometime to make it to pull from bintray, maybe it's me having the first time with bintray, but I suggest, we can add this info to the README to make it easier.
I can send a pull request to this ..
Actually it turned me away from few weeks back when I was not able to pull from Maven, but I like the work been done here and give it another try and finally end up

[2019-10-01 17:55] cdancy commented on #201
@AlyIbrahim yeah feel free to send in a PR to add to the documentation. I do note that you can resolve things through `jcenter` as that's largely interchangeable with `bintray` assuming folks know this. I've amended the line on the README.

[2019-10-01 17:55] #201 closed

[2019-10-01 17:56] cdancy commented on #198
Closing this ISSUE as convo has gone stale. Feel free to re-open if necessary.

[2019-10-01 17:56] #198 closed

[2019-10-01 18:46] AlyIbrahim commented on #201
Got it ..
Just since it took me sometime and ending up with an issue, making it more clear net to maven configuration will make it more handy and easy to reach.
PR is already sent
Thanks again for the support

[2019-10-07 17:44] AlyIbrahim opened #203 "Support for API v2.0"
### Expected Behavior
With Bitbucket deprecating v1.0 to it's cloud service, the interaction with bitbucket cloud "The online version should be using API v2.0 : https://developer.atlassian.com/bitbucket/api/2/reference/

### Current Behavior
The current library is not usable for bitbucket cloud, and if bitbucket server implemented v2.0 as well, the whole functionality will be useless

### Context

[2019-10-07 18:12] cdancy commented on #203
No immediate thoughts but I suspect this might need to be done on an endpoint-by-endpoint basis ... _maybe_? Additionally, and if the endpoints largely stay the same just the api version number is increased, then folks can pass in the `jclouds.api-version` as an override and set it to 2.0 as documented [HERE](https://github.com/cdancy/bitbucket-rest#on-overrides).

We could also do an initial ping

[2019-10-07 18:17] AlyIbrahim commented on #203
@cdancy
The URLs seems a lot changes, some of the domain objects may be reusable.
I do agree to your point of endpoint-by-endpoint basis.
I guess there is a split now in APIs, for Cloud version they use 2.0, and for Server version they still use v1.0

[2019-10-07 18:22] AlyIbrahim commented on #203
@cdancy
Check the changes in this link:
https://developer.atlassian.com/cloud/bitbucket/deprecation-notice-v1-apis/

[2019-10-07 18:29] cdancy commented on #203
Thanks. Yeah that's interesting... I would be game for doing a major version release against `v2.0` only, that would be 3.0 in our world, and all bitbucket-server changes will stay on the 2.x branch.

[2019-10-07 18:44] AlyIbrahim commented on #203
I am doing some tests and may help in this 3.0 branch.
Also trying to get more into your coding style using jclouds so I can start rolling.

[2019-10-07 18:45] cdancy commented on #203
+1

[2019-10-23 13:38] hesch opened #204 "Implement Code Insights API"
The Code Insights API should be implemented:

https://docs.atlassian.com/bitbucket-server/rest/6.4.0/bitbucket-code-insights-rest.html

[2019-10-23 17:54] #204 closed

[2019-10-23 18:01] cdancy commented on #204
Version `2.6.0` has been released. Thanks again @hesch!!!

[2019-10-23 20:21] cdancy commented on #204
Just released version `2.6.1` as this contains a bug fix that was applied to one of my other projects wherein there is a classloader leak in the older version of guice that jclouds uses internally. I recommend using this version.

[2019-12-18 19:40] succcubbus opened #208 "Code Insight API ReportData can have values of different types"
### Expected Behavior
Adding ReportData of DataTypes other than TEXT should work

### Current Behavior
Only adding ReportData of DataType TEXT works, because other types need to be encoded as described here:
https://docs.atlassian.com/bitbucket-server/rest/6.9.0/bitbucket-code-insights-rest.html#idp9
But currently every type is encoded as a string.

### Context
I was trying to add a link to a repo

[2019-12-18 19:45] cdancy commented on #208
@succcubbus if you've got a fix I'll definitely take that PR!

[2019-12-18 21:52] #208 closed

[2020-01-08 22:47] lukelast commented on #198
Looks like without v2 api support cloud is not going to work.

#203

[2020-01-09 18:53] cdancy commented on #198
@lukelast We personally don't use Bitbucket cloud here but if they changed how all the API's work for their `cloud` offering then that would be horrible and would require all projects to change drastically. If however it's a matter of just change the version being used to point elsewhere that's easy enough to do with this library but it appears that may not work perfectly if the aforementioned PR

[2020-02-11 12:58] gopikanthk opened #210 "do we have support for diff API"
Do we have support for diff api for a given pull request?

Ex: ../pull-requests/{PR-ID}/diff

### Expected Behavior

### Current Behavior

### Context

### Steps to Reproduce (for bugs)

### Your Environment

[2020-02-11 16:19] cdancy commented on #210
@gopikanthk never wired that up. Would you be up for sending in a PR? Looks easy enough to knock out:

https://docs.atlassian.com/bitbucket-server/rest/5.16.0/bitbucket-rest.html#idm8297336928

[2020-07-07 14:15] dokaspar opened #225 "Implement project 'hooks' endpoint"
The current hookApi implements various endpoints to manage repository-level hook settings.
However, the project-level hook settings are missing and should also be implemented:
https://docs.atlassian.com/bitbucket-server/rest/7.3.1/bitbucket-rest.html#idp393

[2020-07-07 14:31] cdancy commented on #225
@dokaspar hmmm ... we _could_ do something wherein if the `repo` parameter is **null** we could omit that part of the path. Should be easy enough to wire up. Care to send in a PR?

[2020-07-21 15:44] tanjaem opened #227 "MergeConfigType misses value "PROJECT""
### Expected Behavior
When a repository has set the merge configuration type to the value "PROJECT", the repositoryApi should successfully retrieve pull request settings with the call com.cdancy.bitbucket.rest.features.RepositoryApi.getPullRequestSettings(String, String).

### Current Behavior
Because the value "PROJECT" is missing in the enumeration com.cdancy.bitbucket.rest.domain.repository.Mer

[2020-07-27 18:54] #227 closed

[2020-07-28 13:28] cdancy commented on #227
@tanjaem `2.6.3` is out now with this fix.

[2020-08-12 14:39] l0wlik34G6 opened #230 "FileApi.listLines: Wrong naming of parameter"
In the FileApi, there is the function listLines, which gives plenty of parameters.
One of the parameters based on the Bitbucket documentation is "at", in your project it's "commitHash".

Unfortunately this is very confusing, as it is not referencing to a specific commit hash, but to a branch e.g.

So calling the API with `?at=refs/heads/master` or `?at=refs/tags/%myTag%` will give a valid result.

[2020-08-12 14:52] cdancy commented on #230
@l0wlik34G6 the parameter names I used are simply the ones coming from the Bitbucket REST API itself. I tried to make things as close to an apples-to-apples comparison so that developers looking over the REST API would feel at home here. I see in the documentation [HERE](https://docs.atlassian.com/bitbucket-server/rest/5.1.0/bitbucket-rest.html#idm45588158357840) that `at` is indeed used. Are you

[2020-08-13 09:09] l0wlik34G6 commented on #230
Well, that's what I'm talking about.
In the official documentation it's `at`, but in your `FileApi.listLine` it's `commitHash`

[2020-08-13 12:02] cdancy commented on #230
@l0wlik34G6 aaahhh ... gotcha :) Care to send in a PR to fix things?

[2020-09-18 11:38] dodie opened #238 "Implement keys endpoints to list access keys"
### Expected Behavior
Would it make sense to support the [keys API](https://docs.atlassian.com/bitbucket-server/rest/7.4.0/bitbucket-ssh-rest.html)?

For example, one can query the query access keys for repositories via the following URL:
[code]
It would be really nice to have that in the client.

### Context
My goal is to get an overview of authorization setup in my Bitbucket instance. I can alre

[2020-09-18 12:27] cdancy commented on #238
@dodie absolutely! Any `api` that is not currently covered is worth putting in. Feel free to ping or ask questions if you need help with the PR.

[2020-09-29 14:26] #238 closed

[2020-10-02 13:37] #230 closed

[2020-10-17 07:29] thlaegler opened #241 "Feature: Search API"
**This is a Feature Request**

### Expected Behavior
This Bitbucket REST API Client implementation should provide the `Search API` Feature

### Current Behavior
Not implemented

### Context
It's not officially documented - at least I couldn't find something? But there is a Search API that gets called from the Bitbucket Server Frontend when doing a Search (e.g. across all repos). So, the API is not

[2020-10-17 09:24] thlaegler commented on #241
Documentation of Search feature from UI perspective: https://confluence.atlassian.com/bitbucketserver/search-for-code-in-bitbucket-server-814204781.html. That goes into the `query` element as search phrase.

[2020-10-27 18:02] #241 closed

[2020-12-09 23:38] aajimal opened #248 "[Question] Is there a way to do client certificate authentication?"
Is there a way to pass in a client certificate to be used for authentication?
I see that we can do user/pass or token auth in the example docs and code but was unable to find any place in the code to somehow use client certs as well.

[2020-12-10 21:04] cdancy commented on #248
@aajimal I suspect there is through `jclouds` (which is what I used underneath the hood) just never looked into it. If someone from the community wants to give things a go and wire something together I'd be more than happy to take the PR.

[2020-12-14 12:01] lmyslinski opened #249 "JSON deserialization failure"
### Expected Behavior
The library should parse server response properly.

### Current Behavior
`Failed to parse output: message=com.google.gson.stream.MalformedJsonException: Use JsonReader.setLenient(true) to accept malformed JSON at line 1 column 8 path $`

### Context
Multiple endpoints do not work as expected - Request completes sucessfully but the library does not parse the response properly

[2020-12-14 15:10] cdancy commented on #249
@lmyslinski this happens when Bitbucket does not return the expected json response. What endpoints do you see this happening on? And could you give examples of what those endpoints are returning in your case?

[2020-12-14 17:48] lmyslinski commented on #249
I've tested this on two separate bitbucket instances, one with https and one without. Sample response:
[code]

I'm pretty convinced it's related to Gson and not this specific endpoint - as I've said, this issue occured for me on other endpoints as well. To work around this I've written my own rest api client that works as expected and the bitbucket server always returns a valid json object

[2020-12-14 17:49] lmyslinski commented on #249
On my classpath I see Gson `2.8.6`

[2020-12-14 17:51] lmyslinski commented on #249
To be more specific, if Bitbucket returns 401 the parses fails too. I've written this piece of code to around it:
[code]

[2021-01-12 15:46] #248 closed

[2021-01-12 17:42] #182 closed

[2021-01-12 17:43] cdancy commented on #249
Closing. If you'd like to discuss further feel free to re-open.

[2021-01-12 17:43] #249 closed

[2021-01-12 17:44] #100 closed

[2021-01-12 17:44] cdancy commented on #38
Closing as this is an older issue. If folks from the community want to help out and put together a PR I'd be more than happy to review.

[2021-01-12 17:44] #38 closed

[2021-01-12 17:45] cdancy commented on #203
Closing.. If folks want to re-open to further discuss feel free to do so.

[2021-01-12 17:45] #203 closed

[2021-01-12 17:45] #29 closed

[2021-01-12 17:46] #184 closed

[2021-01-12 17:46] #210 closed

[2021-01-12 17:46] #185 closed

[2021-01-12 17:46] #111 closed

[2021-01-12 17:47] cdancy commented on #225
Closing. If someone wants to open a PR or discuss further feel free to do so.

[2021-01-12 17:47] #225 closed

[2021-01-12 17:48] cdancy commented on #165
Closing. Feel free to re-open should you want to discuss further.

[2021-01-12 17:48] #165 closed

[2021-01-15 09:41] ftclausen opened #253 "integTest: TestUtilities class should use user.name() instead of user.slug() to avoid case issues"
The TestUtilities class is using the equivalent of the `User` class' "name" field when retrieving the name from `auth.authValue()`. If a username has an upper case letter (e.g. JoeSmith) then the tests will fail because the `user.slug()` is all lower case (joesmith). Using user.name seems to fix this - PR forthcoming.

[2021-01-15 18:41] shinusuresh opened #255 "Label api support - Filter by name"
Provide API support to label filter by name endpoint
https://docs.atlassian.com/bitbucket-server/rest/6.0.0/bitbucket-rest.html#idp88

[2021-01-15 21:51] #253 closed

[2021-01-21 22:13] #255 closed

[2021-01-30 01:26] tjxn opened #260 "Missing committer & committerTimestamp when retrieving commit information"
When retrieving commit information with the CommitApi the committer and committer timestamp returned by bitbucket is ignored and not returned.

### Expected Behavior
The Commit object returned should contain the committer and committerTimestamp fields.

### Current Behavior
The Commit object does not contain the committer and committerTimestamp information.

### Context
I'm writing an application

[2021-02-07 04:29] zsandoz opened #262 "Support for 'unapproveOnUpdate' repository pull request setting"
We make use of `unapproveOnUpdate` boolean flag of repositories' pull request settings. When this Bitbucket feature is enabled, pushing new code to a PR automatically withdraws any previously existing approvals for that PR.

It [isn't mentioned in Atlassian's documentation](https://docs.atlassian.com/bitbucket-server/rest/7.10.0/bitbucket-rest.html#idp367) from what I can see, but it's a boolean i

[2021-02-08 17:19] #260 closed

[2021-02-08 17:21] cdancy commented on #262
@zsandoz looking things over now...

[2021-02-08 17:23] #262 closed

[2021-02-08 19:07] cdancy commented on #262
@zsandoz version `2.7.2` has been released with this change.

[2021-02-08 19:08] cdancy commented on #260
@tjxn version `2.7.2` has been released with this change.

[2021-02-08 20:42] zsandoz commented on #262
Great 😃

Thanks very much

[2021-02-08 20:54] cdancy commented on #262
yeah no problem and thanks for the PR.
________________________________
From: zsandoz <notifications@github.com>
Sent: Monday, February 8, 2021 3:42 PM
To: cdancy/bitbucket-rest <bitbucket-rest@noreply.github.com>
Cc: Dancy, Chris <Chris.Dancy@pega.com>; State change <state_change@noreply.github.com>
Subject: ExtMsg: Re: [cdancy/bitbucket-rest] Support for 'unapproveOnUpdate' repository pull reque

[2021-05-07 14:33] MarkRx opened #278 "NPE on PUT using file api"
The jclouds library throws an NPE when logging doing a PUT request of a file. Looks like this might be fixed by updating it to 2.3.0.

Stack trace:

The response object is:
Commit{errors=[Error{context=Error parsing input: null
{statusCode=200, headers={Keep-Alive=[timeout=20], Transfer-Encoding=[chunked], X-AREQUESTID=[*15PXC7Fx621x19886146x1], X-Content-Type-Options=[nosniff], Connection=[keep-a

[2021-05-07 14:36] MarkRx commented on #278
Looks like the dependency has been updated to 2.3.0 on master: https://github.com/cdancy/bitbucket-rest/blob/master/build.gradle#L24

https://github.com/cdancy/bitbucket-rest/commit/adbabe4c066bd1c10722ea3ee6df6d4ac4ab2b3d

I guess I need to wait for a new build or else build it myself.

[2021-05-07 15:29] cdancy commented on #278
@MarkRx yes! However ... I have failed to migrate this project over to maven since bintray closed down. I _really_ need to get on that...

[2021-05-12 19:30] cristinabuenahora opened #280 "Repository + Project API not working"
Hitting the Repository + Project API wasn't working whereas the BranchApi is.

### Expected Behavior
Should return repositories / projects

### Current Behavior
Status code is 200 but there is an error on return.

### Context
Can't actually hit either API
Seems related to this commit, both APIs that don't work have the path set to @Path("/rest/api/{jclouds.api-version}/projects") at the top level

[2021-05-12 19:36] cdancy commented on #280
@cristinabuenahora can you post a snippet of what you're doing, any logs you have gathered, and any http wire logs if you can hook things up?

[2021-05-12 19:43] cristinabuenahora commented on #280
Yes, also I actually have a fix for this that is ready: https://github.com/cdancy/bitbucket-rest/pull/281

[2021-06-04 20:49] tjxn opened #283 "Missing properties when retrieving commit information"
When retrieving commit information with the CommitApi the properties object returned by bitbucket is ignored and not returned.

### Expected Behavior
The Commit object returned should contain the properties object if present.

### Current Behavior
The Commit object does not contain the properties object.

### Context
I'm writing an application to display commit information and need to be able to d

[2021-08-24 13:56] mixaaaa opened #298 "[WEBHOOK-API] Missing Event-Type"
Actual gathering webhook-data for our bitbucket rest api (server version 7.9.x) leads to error under current behaviour, when calling:

[code]

### Expected Behavior
EventType should be known or handled as String.

### Current Behavior
[code]

### Context
I tried to receive all Webhooks (list) for a bitbucket project and repository.

### Steps to Reproduce (for bugs)
- no idea

### Your Environment

[2021-11-09 17:31] #298 closed

[2021-11-09 17:38] #283 closed

[2021-11-29 14:10] igor-smi opened #306 "Is there a plan to add a "compare" api"
Are there any plans to add this api https://docs.atlassian.com/bitbucket-server/rest/7.6.0/bitbucket-rest.html#idp249

[2021-11-29 18:59] cdancy commented on #306
@igor-smi nothing immediate. If you'd like to give things a go by all means have at it! This is largely a community driven project and so if you want to see something the quickest way to get it in is to code it. We can do so it will just take some time.

[2021-11-29 19:00] cdancy commented on #306
The library is very easy to use and understand and so contributing is not a big deal (at least I hope not).

[2021-12-29 18:05] krasv opened #316 "missing path annotation and missing endpoint"
Incomplete endpoint implementation for
- getProjects
- getRepositoryLabels

### Expected Behavior

1. `GET` `/api/{jclouds.api-version}/projects` return the list of existing projects
2. `GET` `/api/{jclouds.api-version}/projects/{project}/repos/{repo}/labels` returns the list of existing labels assigned to the repository

### Current Behavior

1. the `@Path` annotation is missing. The call respond

[2022-01-03 14:02] krasv opened #319 "Read Project and Repository Categories"
Bitbucket provides a "hidden" feature for adding and reusing categories at projects and repositories.
This categories can be read by a dedicated add on [REST API](https://communardo.atlassian.net/wiki/spaces/KB/pages/27687460/REST+API+for+Categories+for+Bitbucket).

### Expected Behavior
Endpoints at the `ProjectAPI` and the `RepositoryAPI`.

### Current Behavior

not implemented yet.

### Context

[2022-01-14 20:06] #316 closed

[2022-01-14 20:39] cdancy commented on #319
Does Bitbucket provide this feature or Communardo?

[2022-01-15 18:03] krasv commented on #319
As commented at the PR: the API comes with the add-on and extends the basic api.

[2022-01-20 17:24] tdauth opened #323 "Improve the performance of creating/building a client instance"
### Expected Behavior

Building a client should be a fast operation since I do not expect anything to be done.

### Current Behavior

The operation

[code]

seems to be really slow.

### Context

My application retrieves data from multiple Bitbucket repositories creating the client multiple times which apparently was the wrong approach since it is for one endpoint only. However, I am able to close

[2022-01-20 17:28] cdancy commented on #323
@tdauth when you say "multiple Bitbucket repositories" do you mean the same Bitbucket instance but against multiple repos _within_ that instance or do you mean quite literally multiple Bitbucket instances you're connecting to? If the former you can just create 1 client as it's thread safe and can be shared amongst many requests/etc.

[2022-01-20 17:32] tdauth commented on #323
Yes I can create only 1 but for the first scenario I would need many clients. I am just wondering why it is so slow.

[2022-01-20 17:51] cdancy commented on #323
@tdauth how slow are we talking? Can you provide measureable numbers? I've never created many clients at once before but underneath it's using the jclouds framework which itself can tend to be heavy and so may be doing a lot of setup.

[2022-01-20 18:24] tdauth commented on #323
Well my test took 18 minutes and then only like 4 minutes after using only one client per endpoint (using two endpoints). I created a client per repository and sometimes also per file. It would be nice to at least document it in the README or somewhere to not write your code like I did or even better to improve the performance. Even when you are always using the same Bitbucket endpoint you might w

[2022-01-20 18:56] martinda opened #324 "SyncApiMockTest failure"
When I run `gradle mockTest`, the SyncApiMockTest fails with:

[code]

[2022-01-20 19:10] #280 closed

[2022-01-20 20:42] #324 closed

[2022-01-20 21:31] cdancy commented on #323
This to me is just general knowledge when working with java. Unless documentation states otherwise you can use a given client across the board.

That would be up to you the developer to implement. You could so as part of a _shutdownHook_ or when your object is destroyed or any other number of means. It all depends on your setup and application and what you want to do.

[2022-02-02 06:58] krasv commented on #319
Hi Christopher,

any thoughts here? May I go forward with the extension or do you reject the changes?

regards
Sven

[2022-02-14 18:09] cdancy commented on #319
@krasv apologies for getting back so late. Been busy with work. I don't want anything provider specific within this library. Developers are free to fork this project however and add in their own implementations/plugins/etc.

[2022-03-30 10:47] jutoft opened #332 "Support for liking a comment on pull requests"
Add api support for liking comments

### Expected Behavior

Add a likesApi() for pull requests that can
likeComment
getLikes for a comment
unlikeComment

### Current Behavior

There is no provided api for likes

### Context

We use likes to control special handling of pull requests, having official support would be great.
We currently have our own branch with support.

### Steps to Reproduce (for

[2022-03-30 14:52] jutoft commented on #332
I will create a pr with our internal fork of this project. Great that it is wanted.

[2022-03-30 14:54] cdancy commented on #332
@jutoft I originally coded the core of the project but at this point it's largely community driven for any changes wanted. Feel free to send along whatever you have.

[2022-04-29 15:49] carr-james opened #334 "Editing pull requests"
### Expected Behaviour
There is no way to edit an existing pull request. This seems like a fairly simple API, as described in the [docs](https://docs.atlassian.com/bitbucket-server/rest/7.21.0/bitbucket-rest.html#idp304).

### Current Behavior
The current behaviour only allows us to create new pull request with the POST endpoint. Ideally we would also expose the PUT endpoint to allow editing a spe

[2022-04-29 16:44] carr-james commented on #334
I've just tested my solution locally and I was able to edit a PR. Unfortunately I can't create branches in this repo, so unable to share my code.

[2022-05-02 16:15] #332 closed

[2022-05-05 06:33] fullben opened #338 "[Question] Is version 3.0.2 available?"
Based on the state of this project (and as indicated by the [release notes](https://github.com/cdancy/bitbucket-rest/blob/master/RELEASE_NOTES.md)), I am under the impression that the most recent version of the library should be 3.0.2. Yet I seem to be unable to acquire this as a dependency.

### Expected Behavior
I should be able to use version 3.0.2 of this library as a dependency from maven cen

[2022-05-05 10:47] cdancy commented on #338
@fullben yeah I think you're right. Not sure what happened. Just pushed the release again now. Might take a few minutes to sync from sonatype but it should be good to go. Try again and let me know how things workout.

[2022-05-05 11:36] fullben commented on #338
@cdancy looks good on my end now. Thank you so much for the quick fix! :)

[2022-05-05 11:36] #338 closed

[2022-05-05 17:08] cdancy commented on #338
@fullben yeah no problem and thanks for reaching out. I suspect others did the same, seen it didn't work, threw their hands up, and moved on to something else.

[2022-05-06 20:20] martinda opened #339 "Expose jclouds-core for the Branch API"
The [`Branch`](https://github.com/cdancy/bitbucket-rest/blob/2c62c741ef9a2ac40b102bfd9d0e028a5ebf9cb7/src/main/java/com/cdancy/bitbucket/rest/domain/branch/Branch.java#L57) api exposes `com.google.gson.JsonElement`, and it comes from `jclouds-core` transitively:

[code]

I think the right solution is to declare a direct `api` dependency on `com.google.code.gson:gson:2.8.9` since this library uses

[2022-06-23 13:23] xanderlau opened #345 "'List<Error> errors()' should NOT be '@Nullable'"
'List<Error> errors()' should NOT be '@Nullable'

[2022-06-23 13:58] cdancy commented on #345
@xanderlau I agree! Where are you seeing this?

[2022-06-27 10:45] xanderlau commented on #345
debug

[2022-06-27 12:46] cdancy commented on #345
@xanderlau I'm not sure I follow. Can you provide a link?

[2022-07-11 12:57] dolonnen opened #347 "illegal reflective access operation from guice by BitbucketClient.builder().build()"
###

### Expected Behavior

get a BitbucketClient (whitout Warnings about denies in the future)

### Current Behavior

with explicit guava 27.1-jre as dependency in pom.xml:
`Making a BB-Client...
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.inject.internal.cglib.core.$ReflectUtils$1 (file:/C:/Users/xce35i5/.m2/repository/com/google/

[2022-07-11 14:25] cdancy commented on #347
@dolonnen yeah this is a known issue and nothing this project _specifically_ does but more the underlying jclouds library. I've seen this being talked about with them in the past but not sure if anything ever came of it and never circled back around to check in on things.

[2022-09-05 12:10] SuppenNudel commented on #249
I am encountered this problem right now.
I am using the fileApi; lastModified and updateContent.
I am using this library's version 2.7.2
Our Bitbucket Server is on version v7.17.7
Please let me know if you need more info.

[2022-09-06 15:40] SuppenNudel commented on #249
@lmyslinski I've also used a self written implementation using retrofit2 for some other endpoints. But I have difficulties writing for the fileApi because it contains a file upload and I can't seem to get it to work.
Can you provide me with your solution or tell me which framework you use if any?

[2022-09-06 15:50] cdancy commented on #249
@SuppenNudel you could try bumping to latest version of `3.0.2`. Do you have a code snippet so I can see what you're doing? Do you have a stracktrace to look at? If you run with "debug enabled", however you're invoking the code, the library itself will dump out the http-wire logs to see what is going sideways.

Also ... it's recommended to use the `all` classifier version of this library so that y

[2022-09-06 20:15] lmyslinski commented on #249
@SuppenNudel This was done in Scala with `Play` and `sttp`: https://gist.github.com/lmyslinski/1420421c7e95141c327f54c831f966c6

[2022-09-07 09:39] SuppenNudel commented on #249
Turns out the group id changed since I last updated this library. So I wasn't able to find it XD
But upgrading to 3.0.1 fixed the issue.
3.0.2 seems to be compiled with Java 11. That didn't work in my corp environment, since we are still on Java8.
Thanks for your help!

[2022-09-07 10:04] SuppenNudel opened #351 "[Feature Request] Log requested URLs"
I want to be able to output/log the URLs that are being requested.
Is there already a way to do this?

I don't know how to write you other than via Issues. I'm sorry if this is the wrong way to reach you.

[2022-09-07 14:47] SuppenNudel commented on #351
How do I do that? I don't find anything with logging or debugging in the readme file.

[2022-09-27 14:37] fullben opened #354 "Bitbucket Rate Limit Handling"
In a project of mine, where I'm using this library, I ended up tripping the [Bitbucket request rate limit](https://confluence.atlassian.com/bitbucketserver076/improving-instance-stability-with-rate-limiting-1026535712.html) configured for the user I am using for authenticating with a Bitbucket server.

This happened when calling various paged API endpoints in quick succession. As a result, the ``P

[2022-09-27 14:58] cdancy commented on #354
@fullben aahhh ... yeah I've never hammered away on Bitbucket before to trigger any rate-limits. Do those exist across the board for all endpoints? I can put in a fix for this to catch the rate-limit response and return something proper instead of the default "json parse exception" that you see which is admittedly less than ideal.

[2022-09-27 16:04] fullben commented on #354
@cdancy rate limiting in Bitbucket is user-based, as far as I can tell (see the link from my original post). So I'm assuming it's consistent behavior across all endpoints.
A better error description would be great. But tbh, I was kinda hoping jclouds or the lib itself had some rate limit error handling feature I simply just couldn't find... :)

[2022-09-27 20:40] cdancy commented on #354
@fullben we could certainly wire something up and there might be something we can leverage ... I've just never done so. Something like "retry on http code 429" and allow for some configurability.

[2022-09-28 07:08] fullben commented on #354
@cdancy I did some digging in the jclouds code... There is this property ``PROPERTY_MAX_RATE_LIMIT_WAIT`` (in the [Constants](https://github.com/jclouds/jclouds/blob/master/core/src/main/java/org/jclouds/Constants.java)). in the jclouds core lib, his property is only utilized in one class, the [``RateLimitRetryHandler``](https://jclouds.apache.org/reference/javadoc/2.3.x/org/jclouds/http/handlers/

[2022-10-10 04:50] fullben commented on #354
@cdancy bump :)

[2022-11-25 19:38] neutrino1911 opened #364 "Add commitSummaries field to MergeConfig model"
`MergeConfig` model lacks `commitSummaries` field

https://developer.atlassian.com/server/bitbucket/rest/v806/api-group-repository/#api-api-latest-projects-projectkey-repos-repositoryslug-settings-pull-requests-post

### Expected Behavior
`MergeConfig` model has `commitSummaries` field, and it is possible to update `Commit summaries` option on `Merge strategies` tab.

### Current Behavior
Updating